<div class="row wrapper border-bottom white-bg page-heading mt-2 m-2">
    <div class="col-lg-8">
        <h2>AirLine Setup</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a routerLink="/Dashboard">Home</a>
            </li>
            <li class="breadcrumb-item">
                Admin
            </li>
            <li class="breadcrumb-item active">
                <strong>Air Line</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-4">
        <div class="title-action">
            <a *ngIf="GV.canAddEdit_AirLines" [hidden]="!showeditButton" (click)="saveConsignee()"
                class="btn btn-success color text-white"><i class="fa fa-pencil"></i> Update </a>
            <a *ngIf="GV.canAddEdit_AirLines" [hidden]="!showSaveButton" (click)="saveConsignee()"
                class="btn btn-success color text-white"><i class="fa fa-check "></i>
                Save </a>
            <a *ngIf="GV.canAddEdit_AirLines" [hidden]="!showCancelButton" (click)="showhide('Cancel')"
                class="btn btn-secondary text-white ml-3"><i class="fa fa-check "></i> Cancel </a>
            <a *ngIf="GV.canAddEdit_AirLines" [hidden]="!shownewButton" (click)="showhide('New')"
                class="btn btn-success color text-white"><i class="fa fa-paste"></i>
                Add new Air Line </a>
        </div>
    </div>
</div>
<form [formGroup]="airLineForm" role="form">
    <div class="row" [hidden]="!addnewAirLine">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="ibox-content p-xl">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="form-group mt-2">
                                <label class="font-normal"><b>Code</b><span class="imp">*</span></label>
                                <input disabled type="text" placeholder="Auto Generated" class="form-control"
                                    formControlName="ALCode">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="form-group mt-2">
                                <label class="font-normal"><b>Air Line Name</b><span class="imp">*</span></label>
                                <input type="text" placeholder="Enter Consignee Name" formControlName="ALName"
                                    class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="form-group mt-2">
                                <label class="font-normal"><b>Schedule</b><span class="imp">*</span></label><br>
                                 <input type="checkbox" class="i-checks check" formControlName="Schedule"> 
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="form-group mt-2">
                                <label class="font-normal"><b>DO By</b><span class="imp">*</span></label><br>
                                <input type="checkbox" id="checkbox1" class="check" formControlName="DOBy">
                                <!-- <label for="checkbox1">
                                    Schedule
                                </label> -->
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="form-group mt-2">
                                <label class="font-normal"><b>DO Amount</b><span class="imp">*</span></label>
                                <input type="text" placeholder="Enter Consignee Name" formControlName="DOAmount"
                                class="form-control">
                            </div>
                        </div>
                    </div>
                    

                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="row" [hidden]="!showAirLine">
            <div class="col-lg-12">
                <div class="wrapper wrapper-content animated fadeInRight">
                    <div class="ibox-content">

                        <div class="table-responsive">
                            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                                class="table table-hover table-striped dt-responsive table-bordered" cellspacing="0"
                                width="100%">
                                <thead>
                                    <tr>
                                        <th>Sr.</th>
                                        <th>Air Line Name</th>
                                        <th>Schedule</th>
                                        <th>DO By</th>
                                        <th>DO Amount</th>
                                        <th>Short Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let p of responseAirLines let ndx=index;">
                                        <td>{{ndx+1}}</td>
                                        <td><a>{{p.ALName }}</a></td>
                                        <td>{{p.Schedule}}</td>
                                        <td>{{p.DOBy}}</td>
                                        <td>{{p.DOAmount}}</td>
                                        <td>{{p.Abbr}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="float-right">
           All Right <strong>Reserved</strong>.
        </div>
        <div>
            <strong>Copyright</strong> Menzies RAS &copy; 2021
        </div>
    </div>
</form>
