/* .center {
    margin: auto;
    width: 100%;
    padding: 10px;
  }
  .wide {
    width:100%;
    height:165px;
    background-image: url('/assets/img/cklogo.png');
    background-size:cover;
  } */
   
  /* .nav metismenu li {
    
    background-color: #203668 !important;
    padding-top: 0px !important;
  }*/
  #bgcolor{
    background-color: #203668 ;
    overflow:hidden;
  }
  .nav-header {
padding: 0px 0px 0px 0px;
  }

  