<nav class="navbar-default navbar-static-side" id="bgcolor" role="navigation">
        <div class="sidebar-collapse ">
                <ul>
                        <li class="nav-header bg bg-secondary" style="background-color: white !important;">
                                <div class="dropdown profile-element ">
                                        <img alt="image" class="img-responsive"
                                                src="../../../../assets//img//1616682659957.jpg" />
                                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                               
                                        </a>
                                </div>
                                <div class="logo-element">
                                        MR
                                </div>
                        </li>
                </ul>
                <ul class="nav metismenu"  id="side-menu" >
                       
                        <li><a routerLink="/Acceptance" [routerLinkActive]="['activeMenuLink']" class="sidebar-link">
                                        <i class="fa fa-tachometer"></i>
                                        <span class="hide-menu">DashBoard</span></a>
                        </li>
                        <li *ngIf="GV.canView_Flights"><a routerLink="/Export/Acceptance"
                                [routerLinkActive]="['activeMenuLink']" class="sidebar-link"
                                *ngIf="GV.canView_Acceptance">
                                <i class="fa fa-check-circle"></i>
                                <span class="hide-menu">Acceptance</span></a>
                         </li>
                        <li class="active">
                                <a href=""><i class="fa fa-th-large"></i> <span class="nav-label">Admin Area</span> <span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <!-- <li ><a href="">Dashboard v.1</a></li> -->
                                    
                                    <li class="" ><a   routerLink="/Export/Inquiry" [routerLinkActive]="['activeMenuLink']"
                                        class="sidebar-link nav-link" href="#" *ngIf="GV.canView_Acceptance">
                                        <i class="fa fa-adjust"></i>
                                        <span class="hide-menu">Inquiry</span></a>
                                         </li>
                                         <li><a routerLink="/Export/Examination" [routerLinkActive]="['activeMenuLink']"
                                                class="sidebar-link" *ngIf="GV.canView_Acceptance">
                                                <i class="fa fa-graduation-cap"></i>
                                                <span class="hide-menu">Examination</span></a>
                                        </li>
                                        <li><a routerLink="/Export/Scanning" [routerLinkActive]="['activeMenuLink']"
                                                class="sidebar-link" *ngIf="GV.canView_Acceptance">
                                                <i class="fa fa-barcode"></i>
                                                <span class="hide-menu">Scanning</span></a>
                                </li>
                                <li *ngIf="GV.canView_Flights"><a routerLink="/Export/Flights"
                                                [routerLinkActive]="['activeMenuLink']" class="sidebar-link"
                                                *ngIf="GV.canView_Acceptance">
                                                <i class="fa fa-fighter-jet"></i>
                                                <span class="hide-menu">Flights</span></a>
                                </li>
                               
                                 <li><a routerLink="/Admin/Shipper" *ngIf="isAdmin" [routerLinkActive]="['activeMenuLink']"
                                        class="sidebar-link">
                                        <i class="fa fa-truck"></i>
                                        <span class="hide-menu">Shipper</span></a>
                                </li>
                                <li><a routerLink="/Admin/NoticeType" *ngIf="isAdmin" [routerLinkActive]="['activeMenuLink']"
                                        class="sidebar-link">
                                        <i class="fa fa-sticky-note-o"></i>
                                        <span class="hide-menu">Notice Type</span></a>
                                  </li>
                                 <li><a routerLink="/Admin/ULDTypes" *ngIf="isAdmin" [routerLinkActive]="['activeMenuLink']"
                                        class="sidebar-link">
                                        <i class="fa fa-archive"></i>
                                        <span class="hide-menu">ULD Type</span></a>
                                </li>
                                <li><a routerLink="/Admin/Consignee" *ngIf="GV.consignee"
                                        [routerLinkActive]="['activeMenuLink']" class="sidebar-link">
                                        <i class="fa fa-suitcase"></i>
                                        <span class="hide-menu">Consignee</span></a>
                                </li>
                                 <li><a routerLink="/ULD/ULD" *ngIf="GV.consignee"
                                        [routerLinkActive]="['activeMenuLink']" class="sidebar-link">
                                        <i class="fa fa-shield"></i>
                                        <span class="hide-menu">ULD</span></a>
                                 </li>
                                 <li><a routerLink="/Admin/AgentType" *ngIf="GV.agentType"
                                        [routerLinkActive]="['activeMenuLink']" class="sidebar-link">
                                        <i class="fa fa-indent"></i>
                                        <span class="hide-menu">Agent Type</span></a>
                                 </li>
                                 <li><a routerLink="/Admin/Agents" *ngIf="GV.Agents" [routerLinkActive]="['activeMenuLink']"
                                        class="sidebar-link">
                                        <i class="fa fa-universal-access"></i>
                                        <span class="hide-menu">Agents</span></a>
                                </li>
                                 <li><a routerLink="/Admin/UDM Master" *ngIf="GV.canView_UDMMaster"
                                        [routerLinkActive]="['activeMenuLink']" class="sidebar-link">
                                        <i class="fa fa-asterisk"></i>
                                        <span class="hide-menu">UDM Master</span></a>
                                 </li>
                                <li><a routerLink="/Admin/Commidity" *ngIf="GV.canView_Commodity"
                                        [routerLinkActive]="['activeMenuLink']" class="sidebar-link">
                                        <i class="fa fa-creative-commons"></i>
                                        <span class="hide-menu">Commodity</span></a>
                                </li>
                                 <li><a routerLink="/Admin/Vehicles" *ngIf="GV.canView_Vehicle"
                                        [routerLinkActive]="['activeMenuLink']" class="sidebar-link">
                                        <i class="fa fa-bus"></i>
                                        <span class="hide-menu">Vehicle Types</span></a>
                                 </li>
                                 <li><a routerLink="/Admin/Forwader" *ngIf="GV.canView_Forwader"
                                        [routerLinkActive]="['activeMenuLink']" class="sidebar-link">
                                        <i class="fa fa-arrow-circle-right"></i>
                                        <span class="hide-menu">Forwader</span></a>
                                 </li>
                                 <li><a routerLink="/Admin/NatureOfGoods" *ngIf="GV.canView_Goods"
                                        [routerLinkActive]="['activeMenuLink']" class="sidebar-link">
                                        <i class="fa fa-cutlery"></i>
                                        <span class="hide-menu">Nature of Goods</span></a>
                                 </li>
                                 <li><a routerLink="/Admin/AirLines" *ngIf="GV.canView_AirLines"
                                        [routerLinkActive]="['activeMenuLink']" class="sidebar-link">
                                        <i class="fa fa-plane"></i>
                                        <span class="hide-menu">Air Lines</span></a>
                                </li>
                                </ul>
                            </li>
                            

                </ul>
        </div>
       
</nav>
