<div class="row"> 
    <div class="col-md-10 col-lg-10 col-sm-12">
        <div class="panel panel-success">
            <div class="panel-heading">
                Enter criteria
            </div>
            <div class="ibox-content">
                <form [formGroup]="DashBoardForm" role="form">
                    <div class="row">
                        <div class="col-lg-4 col-md-3 col-sm-12">
                            <div class="form-group mt-2">
                                <label class="font-normal">Locations<span class="imp">*</span></label>
                                <ng-multiselect-dropdown [placeholder]="'Select Location'" [data]="dropdownList" [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="selectedItems" [settings]="dropdownSettings"
                                    (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)"
                                    (onDeSelect)="ondeSelect($event)"
                                    (onDeSelectAll)="deSelectAll($event)">
                                </ng-multiselect-dropdown>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-3 col-sm-12">
                            <div class="form-group mt-2">
                                <label class="font-normal">Select Cashier<span class="imp">*</span></label>
                                <select class="form-control" formControlName="selectedWaiter">
                                    <option value="ALL">ALL</option>
                                    <option *ngFor="let p of  waiters" [ngValue]="p.WaiterName">{{p.WaiterName}}</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="col-lg-2 col-md-3 col-sm-12">
                            <div class="form-group mt-2">
                                <label class="font-normal">Payment Mode<span class="imp">*</span></label>
                                <select class="form-control" formControlName="pmtMode" >
                                    <option value="ALL">ALL</option>
                                    <option value="Cash">Cash</option>
                                    <option value="Credit">Credit</option>
                                    <option value="Credit Card">Credit Card</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-12">
                            <div class="form-group mt-2">
                                <label class="font-normal">Date From<span class="imp">*</span></label>
                                <div class="input-group date">
                                    <ejs-datepicker [format]="dateFormat" #ejDatePicker id="disable"
                                        (change)="dateChangeEvent($event,'FromDate')" formControlName="dateFrom"
                                        placeholder='Enter date' #ejDatePickers></ejs-datepicker>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-12">
                            <div class="form-group mt-2">
                                <label class="font-normal">Date To <span class="imp">*</span></label>
                                <div class="input-group date">
                                    <ejs-datepicker [format]="dateFormat" #ejDatePickerTo id="disable"
                                        (change)="dateChangeEvent($event,'ToDate')" formControlName="dateTo"
                                        placeholder='Enter date' #ejDatePickerTo></ejs-datepicker>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-12">
                            <div class="form-group mt-2">
                                <label class="font-normal">Select Graph Type<span class="imp">*</span></label>
                                <select class="form-control" (change)="changeGrapth($event)">
                                    <option value="" disabled>Choose Graph</option>
                                    <option value="bh">Bar Chart</option>
                                    <option value="lh">Line Chart</option>
                                  <option value="pi">pie</option>
                    
                                </select>
                            </div>
                        </div>
                        <div class="form-group mt-2">
                            <br>
                            <button type="submit" class="btn btn-primary btn-block font-weight-bold" (click)="getData()">
                                GetData
                            </button>
                        </div>
                    </div>
                    <div class="row">
    
                    </div>
                </form>
            </div>
            
        </div>
        
        <div class="row">
            <div class="col-lg-7">
                <div class="ibox ">
                    <div class="ibox-content">
                        <div>
                            <canvas  [hidden]="!showBarChart" baseChart [datasets]="barChartDataNaturewise" [labels]="barChartLabelsNaturewise"
                                [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend"
                                [chartType]="barChartType">
                            </canvas>
                            <canvas [hidden]="!showpieChart" baseChart [datasets]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
                                [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend">
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5" [hidden]="!showBarChart">
                <div class="card mt-2">
                    <div class="card-body" style="padding: 12px;">
                        <div class="widget p-xxs text-center casual-leave-color">
                            <div class="m-b-sm">
                                <h1 class="m-xs">Grand Total</h1>
                                <h3 class="font-bold no-margins">
                                    {{grandTotal| currency:'PKR ':true:'2.2-4'}}
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-lg-2 col-sm-12">
        <div class="card mt-2">
            <div class="card-body" style="padding: 12px;">
                <div class="widget p-xxs text-center casual-leave-color"
                 *ngFor="let p of userwiseResponse.userwiseDetail;index as i"
                 [ngClass]="{'Working' : p.NetAmount!='0', 'NotWorking':p.NetAmount=='0'}"
                  >
                    <div class="m-b-sm">
                        
                        <h3 class="m-xs">{{p.userid}}</h3>
                        <h4 class="font-bold no-margins">
                            {{p.NetAmount}}
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

