<div class="row wrapper border-bottom white-bg page-heading mt-2 m-2">
    <div class="col-lg-8">
        <h2>ULD Type Setup</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a routerLink="/Dashboard">Home</a>
            </li>
            <li class="breadcrumb-item">
                Admin
            </li>
            <li class="breadcrumb-item active">
                <strong>ULD Type</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-4">
        <div class="title-action">
            <a *ngIf="GV.canAddEdit" [hidden]="!showeditButton" (click)="saveULDTpes()" class="btn btn-white color text-white"><i
                    class="fa fa-pencil"></i> Update </a>
            <a *ngIf="GV.canAddEdit" [hidden]="!showSaveButton" (click)="saveULDTpes()" class="btn btn-success color text-white"><i
                    class="fa fa-check "></i>
                Save </a>
            <a *ngIf="GV.canAddEdit" [hidden]="!showCancelButton" (click)="showhide('Cancel')" class="btn btn-secondary text-white ml-3"><i
                    class="fa fa-check "></i> Cancel </a>
            <a *ngIf="GV.canAddEdit" [hidden]="!shownewButton" (click)="showhide('New')" class="btn btn-success color text-white"><i
                    class="fa fa-paste"></i>
                Add new ULD </a>
        </div>
    </div>
</div>
<form [formGroup]="ULDForm" role="form">
    <div class="row" [hidden]="!showNewSection">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="ibox-content p-xl">
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group  row"><label class="col-sm-2 col-form-label"><b>Select
                                    AirLine</b></label>
                                <div class="col-sm-4">
                                    <select class="form-control" formControlName="ALCode">
                                        <option *ngFor="let p of responseAirLines" [value]="p.ALCode">
                                            {{p.ALCode}}|{{p.ALName}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label"><b>ULD Type</b></label>
                                <div class="col-lg-4">
                                    <input type="text" class="form-control" formControlName="ULDType">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label"><b>Tare Weight</b></label>
                                <div class="col-lg-4">
                                    <input type="text" class="form-control" formControlName="taraWeight"
                                        appTwoDigitDecimaNumber>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label"><b>Max Gross Weight</b></label>
                                <div class="col-lg-4">
                                    <input type="text" class="form-control" formControlName="maxGrossWeight"
                                        appTwoDigitDecimaNumber>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="float-right">
           All Right <strong>Reserved</strong>.
        </div>
        <div>
            <strong>Copyright</strong> Menzies RAS &copy; 2021
        </div>
    </div>
</form>
<div>
    <div class="row" [hidden]="!showGrid">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="ibox-content">

                    <div class="table-responsive">
                        <table datatable [dtOptions]="dtTrigger0" [dtTrigger]="dtTrigger0"
                            class="table table-hover table-striped dt-responsive table-bordered" cellspacing="0"
                            width="100%">
                            <thead>
                                <tr>
                                    <th>Sr.</th>
                                    <th>Airline Code</th>
                                    <th>Airline Name</th>
                                    <th>ULD Type</th>
                                    <th>Tare Weight</th>
                                    <th>Max Gross Weight</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let p of this.ULDResponseModel.ULDResponse let ndx=index;">
                                    <td>{{ndx+1}}</td>
                                    <td>{{p.ALCode }}</td>
                                    <td>{{p.ALName }}</td>
                                    <td>{{p.ULDType }}</td>
                                    <td>{{p.taraWeight }}</td>
                                    <td>{{p.maxGrossWeight }}</td>
                                    <td>
                                        <button *ngIf="GV.canAddEdit" class="btn btn-success color text-white btn-sm m-1"
                                            (click)="editULDType(p)"> <i class="fa fa-edit"
                                                aria-hidden="true"></i>Edit</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>