<div class="row wrapper border-bottom white-bg page-heading mt-2 m-2">
    <div class="col-lg-12">
        <form [formGroup]="acceptanceForm" role="form">
            <br>
            <div class="row">
                <div class="col-sm">
                    <div class="form-group  row"><label class="col-sm-4 col-form-label ">
                            <b>Acceptance
                                Number</b></label>
                        <div class="col-sm-8"><input type="text" class="form-control" formControlName="acceptanceID"
                                disabled>
                        </div>
                    </div>
                    <div class="form-group  row"><label class="col-sm-4 col-form-label"><b>Station</b></label>
                        <div class="col-sm-8">
                            <select class="form-control" formControlName="station">
                                <option>Head Office</option>
                                <option>ISB-Ariport</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group  row"><label class="col-sm-4 col-form-label"><b>Select
                                AirLine</b></label>
                        <div class="col-sm-8">
                            <select class="form-control" formControlName="ALCode" (blur)="getFlights()">
                                <option *ngFor="let p of responseAirLines" [value]="p.ALCode">
                                    {{p.ALCode}}|{{p.ALName}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group  row"><label class="col-sm-4 col-form-label"><b>Destination</b></label>
                        <div class="col-sm-8">
                            <select class="form-control" formControlName="Destination">
                                <option>Europe</option>
                                <option>Rest of world</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group  row"><label class="col-sm-4 col-form-label"><b>AWB Type</b></label>
                        <div class="col-sm-8">
                            <select class="form-control" formControlName="AWBType">
                                <option>General</option>
                                <option>POMAIL</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-group  row "><label class="col-sm-4 col-form-label p-1 "><b>Select
                                Employee</b></label>
                        <div class="col-sm-8">
                            <input type="text" formControlName="empID" class="form-control"
                                (blur)="getemployeeDetail()">
                        </div>
                    </div>
                    <div class="form-group  row"><label class="col-sm-4 col-form-label"><b>Emp. Name</b>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" formControlName="empName" class="form-control" disabled>
                        </div>
                    </div>
                    <div class="form-group  row"><label class="col-sm-4 col-form-label "><b>Arrival Date</b></label>
                        <div class="col-sm-8 ">
                            <input type="date" class="form-control">
                            <!-- <igx-date-picker formControlName="ArrivalDate">
                            </igx-date-picker> -->
                        </div>
                    </div>
                    <div class="form-group  row"><label class="col-sm-4 col-form-label"><b>Arival Time</b></label>
                        <div class="col-sm-8">
                            <timepicker [showSpinners]="false" formControlName="ArrivalTime"></timepicker>
                        </div>
                    </div>
                    <div class="form-group  row"><label class="col-sm-4 col-form-label"><b>Status</b></label>
                        <div class="col-sm-8">
                            <select class="form-control" formControlName="Status">
                                <option>Open</option>
                                <option>Close</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm">

                    <div class="form-group  row"><label class="col-sm-4 col-form-label"><b>Other
                                AirLine</b></label>
                        <div class="col-sm-8">
                            <select class="form-control" formControlName="otherAirlineCode">
                                <option *ngFor="let p of responseAirLines" [value]="p.ALCode">
                                    {{p.ALCode}}|{{p.ALName}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group  row"><label class="col-sm-4 col-form-label "><b>Handed Date</b></label>
                        <div class="col-sm-8">
                            <input type="date" class="form-control" fromControlName="HandedDate">
                            <!-- <igx-date-picker formControlName="HandedDate">
                            </igx-date-picker> -->
                        </div>
                    </div>
                    <div class="form-group  row"><label class="col-sm-4 col-form-label"><b>Handed Time</b></label>
                        <div class="col-sm-8">
                            <timepicker [showSpinners]="false" formControlName="HandedTime"></timepicker>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="form-group mt-2">

                        <input class="form-check-input check ml-2" formControlName="FurShipment" type="checkbox"
                            value="" checked>
                        <label class="form-check-label ml-5 mt-1" for="Frustrated Shipments">
                            Frustrated Shipments
                        </label><br>
                        <input class="form-check-input check ml-2 mt-3" formControlName="DNR" type="checkbox" value=""
                            checked>
                        <label class="form-check-label ml-5 mt-3" for=" DNR">
                            DNR
                        </label>
                        <!-- <div class="date-picker-wrapper">
                            <igx-checkbox [checked]="false" formControlName="FurShipment">
                                Frustrated Shipments
                            </igx-checkbox>
                            <br>
                            <igx-checkbox [checked]="false" formControlName="DNR">
                                DNR
                            </igx-checkbox>
                        </div> -->
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="form-group mt-2">
                        <div class="date-picker-wrapper">
                            <input class="form-check-input check ml-2" formControlName="Occurance" type="checkbox"
                                value="" checked>
                            <label class="form-check-label ml-5 mt-1" for="Frustrated Shipments">
                                Occurance
                            </label><br>
                            <input class="form-check-input check ml-2 mt-3" formControlName="OvrShipment"
                                type="checkbox" value="" checked>
                            <label class="form-check-label ml-5 mt-3" for=" OvrShipment">
                                Oversized Shipments
                            </label>
                            <!-- <igx-checkbox [checked]="false" formControlName="Occurance">
                                Occurance
                            </igx-checkbox>
                            <br>
                            <igx-checkbox [checked]="false" formControlName="OvrShipment">
                                Oversized Shipments
                            </igx-checkbox> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="form-group mt-2">
                        <div class="date-picker-wrapper">
                            <input class="form-check-input check ml-2" formControlName="holdShipment" type="checkbox"
                                value="" checked>
                            <label class="form-check-label ml-5 mt-1" for="Frustrated Shipments">
                                Hold Shipment
                            </label><br>
                            <input class="form-check-input check ml-2 mt-3" formControlName="otherAirline"
                                type="checkbox" value="" checked>
                            <label class="form-check-label ml-5 mt-3" for=" otherAirline">
                                otherAirline
                            </label>
                            <!-- <igx-checkbox [checked]="false" formControlName="holdShipment">
                                Hold Shipment
                            </igx-checkbox>
                            <br>
                            <igx-checkbox [checked]="false" formControlName="otherAirline">
                                Other AirLine
                            </igx-checkbox> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-4">
                    <div class="form-group mt-2">
                        <div class="date-picker-wrapper">

                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group  row fadeInRight float-right pr-3">
                <!-- <button type="button" class="btn btn-w-m btn-success" (click)="SaveAcceptance('Edit')">Save
                    Changes</button> -->
                <button type="button" class="btn btn-w-m btn-success text-white color"
                    (click)="SaveAcceptance('New')">Create
                    New</button>
            </div>

        </form>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeIn">

    <div class="row">
        <div class="col-lg-12">
            <div class="tabs-container">
                <ul class="nav nav-tabs bg btn-w-m  color " role="tablist">
                    <li><a class="nav-link  text-white  " data-toggle="tab" href="#tab-1">AWB Detail</a></li>
                    <li><a class="nav-link text-white " data-toggle="tab" href="#tab-2">Agent Detail</a></li>
                    <li><a class="nav-link text-white" data-toggle="tab" href="#tab-3">Shi. Detail</a></li>
                    <li><a class="nav-link text-white" data-toggle="tab" href="#tab-4">Con. Detail</a></li>
                    <li><a class="nav-link text-white" data-toggle="tab" href="#tab-5">Wt. Detail</a></li>
                    <li><a class="nav-link text-white" data-toggle="tab" href="#tab-6">Dimensional wt.</a></li>
                    <li><a class="nav-link text-white" data-toggle="tab" href="#tab-7">Notice Types</a></li>
                    <li><a class="nav-link text-white" data-toggle="tab" href="#tab-8">House Detail</a></li>
                    <li><a class="nav-link text-white" data-toggle="tab" href="#tab-9">Att.</a></li>

                </ul>
                <div class="tab-content">
                    <div role="tabpanel" id="tab-1" class="tab-pane active ">
                        <form [formGroup]="AWBForm" role="form">
                            <div class="panel-body ">
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-sm">
                                            <div class="form-group  row"><label class="col-sm-4 col-form-label"><b>AWB
                                                        No.</b></label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" formControlName="AWBNo"
                                                        [igxMask]="'000-0000-0000'">
                                                </div>
                                            </div>
                                            <div class="form-group  row"><label
                                                    class="col-sm-4 col-form-label"><b>Flight
                                                        No.</b></label>
                                                <div class="col-sm-8">
                                                    <select class="form-control" formControlName="flightID"
                                                        (blur)="getFlightDetail()">
                                                        <option *ngFor="let p of responseFlight" [value]="p.flightID">
                                                            {{p.flightNo}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group  row"><label
                                                    class="col-sm-4 col-form-label"><b>Aircrapft
                                                        Reg.No.</b></label>
                                                <div class="col-sm-8"><input disabled type="text" class="form-control"
                                                        formControlName="aricraftRegNo"></div>
                                            </div>
                                            <div class="form-group  row"><label
                                                    class="col-sm-4 col-form-label"><b>Departure Date</b></label>
                                                <div class="col-sm-8">
                                                    <input type="date" class="form-control"
                                                        fromControlName="departureDate">
                                                    <!-- <igx-date-picker formControlName="departureDate">
                                                    </igx-date-picker> -->

                                                </div>
                                            </div>
                                            <div class="form-group  row"><label
                                                    class="col-sm-4 col-form-label"><b>Departure Time</b></label>
                                                <div class="col-sm-8"><input type="text" class="form-control" disabled
                                                        formControlName="departureTime">
                                                </div>
                                            </div>
                                            <div class="form-group  row"><label
                                                    class="col-sm-4 col-form-label"><b>Destination</b></label>
                                                <div class="col-sm-8"><input type="text" class="form-control" disabled
                                                        formControlName="Destination">
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-sm">
                                            <div class="form-group  row"><label
                                                    class="col-sm-4 col-form-label"><b>Nature
                                                        of Goods</b></label>
                                                <div class="col-sm-7">
                                                    <select class="form-control" formControlName="goodsId">
                                                        <!-- <option selected="selected">Select Nature Of Good</option> -->
                                                        <option *ngFor="let p of responseGoods" [value]="p.goodsId"
                                                            [selected]="p.goodsId == GoodsID" id="natureOfGoodsClose">
                                                            {{p.Nature}}</option>
                                                    </select>
                                                </div>
                                                <div class="input-group-append">
                                                    <button class="btn btn-outline-secondary" type="button"
                                                        style="margin-left: -10px;" title="Add New" data-toggle="modal"
                                                        data-target=".bd-example-modal-xl"><i
                                                            class="fa fa-search"></i></button>
                                                </div>
                                            </div>
                                            <div class="form-group  row"><label class="col-sm-4 col-form-label"><b>No.
                                                        of
                                                        Pieces</b></label>
                                                <div class="col-sm-8"><input type="text" class="form-control"
                                                        formControlName="Pieces" numbersOnly>
                                                </div>
                                            </div>
                                            <div class="form-group  row"><label class="col-sm-4 col-form-label"><b>Gross
                                                        Weight</b></label>
                                                <div class="col-sm-8"><input type="text" class="form-control"
                                                        appTwoDigitDecimaNumber disabled formControlName="grossWeight">
                                                </div>
                                            </div>
                                            <div class="form-group  row"><label
                                                    class="col-sm-4 col-form-label"><b>Chargeable
                                                        Weight</b></label>
                                                <div class="col-sm-8"><input type="text" class="form-control"
                                                        appTwoDigitDecimaNumber disabled
                                                        formControlName="dimensionalWeight"></div>
                                            </div>
                                            <div class="form-group  row"><label
                                                    class="col-sm-4 col-form-label"><b>Dimensional
                                                        Weight</b></label>
                                                <div class="col-sm-8"><input type="text" class="form-control" disabled
                                                        formControlName="dimensionalWeight"></div>
                                            </div>
                                            <div class="form-group  row"><label
                                                    class="col-sm-4 col-form-label"><b>Commodity</b></label>
                                                <div class="col-sm-7">
                                                    <select class="form-control" formControlName="comid">
                                                        <option *ngFor="let p of responseCommodity" [value]="p.comid"
                                                            [selected]="p.comid == ComidID">
                                                            {{p.comm_description}}
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="input-group-append">
                                                    <button class="btn btn-outline-secondary" type="button"
                                                        style="margin-left: -10px;" title="Add New" data-toggle="modal"
                                                        data-target=".bd-example2-modal-xl"><i
                                                            class="fa fa-search"></i></button>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-sm">
                                            <div class="form-group  row py-2"><label
                                                    class="col-sm-4 col-form-label"><b>Cut of
                                                        Time</b></label>
                                                <div class="col-sm-8"><input type="text" class="form-control"
                                                        formControlName="cuttTime">
                                                </div>
                                            </div>
                                            <div class="form-group  row"><label
                                                    class="col-sm-4 col-form-label"><b>Consolidator
                                                        Name</b></label>
                                                <div class="col-sm-7">
                                                    <select class="form-control" formControlName="consolidatorID"
                                                        (blur)="getConsolidatorDetail()">
                                                        <!-- <option selected="selected">Select Consolidator</option> -->
                                                        <option *ngFor="let p of ConsolidatorResponse"
                                                            [value]="p.agentId"
                                                            [selected]="p.agentId == AgentIDForTab1">
                                                            {{p.agentName}}
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="input-group-append">
                                                    <button class="btn btn-outline-secondary" type="button"
                                                        style="margin-left: -10px;" title="Add New" data-toggle="modal"
                                                        data-target=".bd-example1-modal-xl"><i
                                                            class="fa fa-search"></i></button>
                                                </div>
                                            </div>
                                            <div class="form-group  row"><label class="col-sm-4 col-form-label"><b>IATA
                                                        Licence No.</b></label>
                                                <div class="col-sm-8"><input type="text" class="form-control" disabled
                                                        formControlName="LicenseNo">
                                                </div>
                                            </div>
                                            <div class="form-group  row"><label
                                                    class="col-sm-4 col-form-label"><b>Agenty
                                                        Type</b></label>
                                                <div class="col-sm-8"><input type="text" class="form-control" disabled
                                                        formControlName="AgentType">
                                                </div>
                                            </div>

                                            <div class="form-group  row"><label class="col-sm-4 col-form-label"><b>CNIC
                                                        No.</b></label>
                                                <div class="col-sm-8"><input type="text" class="form-control"
                                                        formControlName="CNICNo" disabled>
                                                </div>
                                            </div>
                                            <div class="form-group  row"><label class="col-sm-4 col-form-label"><b>CNIC
                                                        Expiry No.</b></label>
                                                <div class="col-sm-8"><input type="text" class="form-control"
                                                        formControlName="CNICExp" disabled>
                                                </div>
                                            </div>

                                            <div class="form-group  row fadeInRight float-right pr-3">
                                                <button type="button" class="btn btn-w-m btn-success color text-white"
                                                    (click)="saveAWBDetail()">Save
                                                    Changes</button>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>

                        </form>
                    </div>
                    <div role="tabpanel" id="tab-2" class="tab-pane">
                        <div class="panel-body tab2">
                            <form [formGroup]="AgentForm" role="form">
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-sm">
                                            <div class="form-group  row"><label class="col-sm-4 col-form-label"><b>Agent
                                                        Name</b></label>
                                                <div class="col-sm-7">
                                                    <select class="form-control" formControlName="agentId"
                                                        (blur)="getAgentDetail()">
                                                        <option *ngFor="let p of agentsResponse" [value]="p.agentId"
                                                            [selected]="p.agentId == AgentIDForTab2">
                                                            {{p.agentName}}
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="input-group-append">
                                                    <button class="btn btn-outline-secondary" type="button"
                                                        style="margin-left: -10px;" title="Add New" data-toggle="modal"
                                                        data-target=".bd-example3-modal-xl"><i
                                                            class="fa fa-search"></i></button>
                                                </div>
                                            </div>

                                            <div class="form-group  row"><label class="col-sm-4 col-form-label"><b>IATA
                                                        Licence
                                                        No.</b></label>
                                                <div class="col-sm-8"><input type="text" class="form-control" disabled
                                                        formControlName="A_LicenseNo">
                                                </div>
                                            </div>
                                            <div class="form-group  row"><label
                                                    class="col-sm-4 col-form-label"><b>Agenty
                                                        Type</b></label>
                                                <div class="col-sm-8"><input type="text" class="form-control" disabled
                                                        formControlName="A_AgentType">
                                                </div>
                                            </div>


                                        </div>
                                        <div class="col-sm">
                                            <div class="form-group  row"><label class="col-sm-4 col-form-label"><b>CNIC
                                                        No.</b></label>
                                                <div class="col-sm-8"><input type="text" class="form-control" disabled
                                                        formControlName="A_CNICNo">
                                                </div>
                                            </div>
                                            <div class="form-group  row"><label class="col-sm-4 col-form-label"><b>CNIC
                                                        Expiry
                                                        No.</b></label>
                                                <div class="col-sm-8"><input type="text" class="form-control" disabled
                                                        formControlName="A_CNICExp">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm">
                                            <div class="form-group  row"><label
                                                    class="col-sm-2 col-form-label"><b>Address</b></label>
                                                <div class="col-sm-10"> <textarea class="form-control"
                                                        formControlName="A_Address" disabled
                                                        id="exampleFormControlTextarea1" rows="2"></textarea>
                                                </div>



                                            </div>
                                        </div>

                                    </div>

                                    <div class="form-group row float-right pr-3">
                                        <button type="button" class="btn btn-w-m btn-success color text-white"
                                            (click)="SaveAgent()">Save
                                            Changes</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div role="tabpanel" id="tab-3" class="tab-pane">
                        <div class="panel-body">
                            <form [formGroup]="ShipperForm" role="form">
                                <div class="col-lg-12">
                                    <br>
                                    <div class="row">
                                        <div class="col-sm">
                                            <div class="form-group  row"><label
                                                    class="col-sm-4 col-form-label"><b>Select
                                                        Shipper</b></label>
                                                <div class="col-sm-8">
                                                    <select class="form-control" formControlName="shipperId"
                                                        (blur)="getShipperDetail()">
                                                        <option *ngFor="let p of shippereResponse"
                                                            [value]="p.shipperId">
                                                            {{p.shipperName}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group  row"><label
                                                    class="col-sm-4 col-form-label"><b>Country</b></label>
                                                <div class="col-sm-8">
                                                    <input type="text" formControlName="shippercountryName"
                                                        class="form-control" disabled>
                                                </div>
                                            </div>
                                            <div class="form-group  row"><label
                                                    class="col-sm-4 col-form-label"><b>State</b></label>
                                                <div class="col-sm-8">
                                                    <input type="text" formControlName="shipperregionName"
                                                        class="form-control" disabled>
                                                </div>
                                            </div>
                                            <div class="form-group  row"><label
                                                    class="col-sm-4 col-form-label"><b>City</b></label>
                                                <div class="col-sm-8">
                                                    <input type="text" formControlName="shippercityName"
                                                        class="form-control" disabled>
                                                </div>
                                            </div>
                                            <div class="form-group  row"><label
                                                    class="col-sm-4 col-form-label"><b>CNIC</b></label>
                                                <div class="col-sm-8">
                                                    <input type="text" formControlName="shipperCNIC"
                                                        class="form-control" disabled>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm">
                                            <div class="form-group  row"><label class="col-sm-4 col-form-label"><b>Email
                                                        Address</b></label>
                                                <div class="col-sm-8">
                                                    <input type="text" formControlName="shipperEmailAddress"
                                                        class="form-control" disabled>
                                                </div>
                                            </div>
                                            <div class="form-group  row"><label class="col-sm-4 col-form-label"><b>Phone
                                                        Number
                                                        Number</b></label>
                                                <div class="col-sm-8">
                                                    <input type="text" formControlName="shipperPhoneNo"
                                                        class="form-control" disabled>
                                                </div>
                                            </div>

                                            <div class="form-group  row"><label
                                                    class="col-sm-4 col-form-label"><b>Mobile
                                                        Number</b></label>
                                                <div class="col-sm-8">
                                                    <input type="text" formControlName="ShippermobileNo"
                                                        class="form-control" disabled>
                                                </div>
                                            </div>
                                            <div class="form-group  row"><label
                                                    class="col-sm-4 col-form-label"><b>Address</b></label>
                                                <div class="col-sm-8">
                                                    <textarea class="form-control" formControlName="shipperAddress"
                                                        id="exampleFormControlTextarea1" rows="3" disabled></textarea>
                                                </div>

                                            </div>
                                            <div class="form-group float-right ">
                                                <button type="button" class="btn btn-w-m btn-success color text-white"
                                                    (click)="saveShipper()">Save
                                                    Changes</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                    <div role="tabpanel" id="tab-4" class="tab-pane">
                        <div class="panel-body">
                            <div class="col-lg-12">
                                <br>
                                <form [formGroup]="CosigneeForm" role="form">
                                    <div class="row">
                                        <div class="col-sm">
                                            <div class="form-group  row"><label
                                                    class="col-sm-4 col-form-label"><b>Select
                                                        Cosignee</b></label>
                                                <div class="col-sm-8">
                                                    <select class="form-control" formControlName="cid"
                                                        (blur)="getConsigneeDetail()">
                                                        <option *ngFor="let p of consigneeResponse" [value]="p.cid">
                                                            {{p.consigneeName}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group  row"><label
                                                    class="col-sm-4 col-form-label"><b>Country</b></label>
                                                <div class="col-sm-8">
                                                    <input type="text" formControlName="consigneecountryName"
                                                        class="form-control" disabled>
                                                </div>
                                            </div>
                                            <div class="form-group  row"><label
                                                    class="col-sm-4 col-form-label"><b>State</b></label>
                                                <div class="col-sm-8">
                                                    <input type="text" formControlName="consigneeregionName"
                                                        class="form-control" disabled>
                                                </div>
                                            </div>
                                            <div class="form-group  row"><label
                                                    class="col-sm-4 col-form-label"><b>City</b></label>
                                                <div class="col-sm-8">
                                                    <input type="text" formControlName="consigneecityName"
                                                        class="form-control" disabled>
                                                </div>
                                            </div>
                                            <div class="form-group  row"><label
                                                    class="col-sm-4 col-form-label"><b>CNIC</b></label>
                                                <div class="col-sm-8">
                                                    <input type="text" formControlName="consigneeCNIC"
                                                        class="form-control" disabled>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm">
                                            <div class="form-group  row"><label class="col-sm-4 col-form-label"><b>Email
                                                        Address</b></label>
                                                <div class="col-sm-8">
                                                    <input type="text" formControlName="consigneeEmailAddress"
                                                        class="form-control" disabled>
                                                </div>
                                            </div>
                                            <div class="form-group  row"><label class="col-sm-4 col-form-label"><b>Phone
                                                        Number
                                                        Number</b></label>
                                                <div class="col-sm-8">
                                                    <input type="text" formControlName="consigneePhoneNo"
                                                        class="form-control" disabled>
                                                </div>
                                            </div>

                                            <div class="form-group  row"><label
                                                    class="col-sm-4 col-form-label"><b>Mobile
                                                        Number</b></label>
                                                <div class="col-sm-8">
                                                    <input type="text" formControlName="consigneemobileNo"
                                                        class="form-control" disabled>
                                                </div>
                                            </div>
                                            <div class="form-group  row"><label
                                                    class="col-sm-4 col-form-label py-2"><b>Address</b></label>
                                                <div class="col-sm-8">
                                                    <textarea class="form-control" formControlName="consigneeAddress"
                                                        id="exampleFormControlTextarea1" rows="3" disabled></textarea>

                                                </div>
                                            </div>
                                            <div class="form-group float-right ">
                                                <button type="button" class="btn btn-w-m btn-success color text-white"
                                                    (click)="saveConsignee()">Save
                                                    Changes</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" id="tab-5" class="tab-pane">
                        <div class="panel-body">
                            <div class="col-lg-12">
                                <div class="col-md-12" [hidden]="!addnewWeight">
                                    <form [formGroup]="weightForm" role="form">
                                        <div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label"><b>Select Vehicle</b></label>
                                                <div class="col-lg-4">
                                                    <select class="form-control" formControlName="vehicleID">
                                                        <option *ngFor="let p of vehicleResponse" [value]="p.vehicleID">
                                                            {{p.vehicleType}}</option>
                                                    </select>
                                                </div>
                                                <label class="col-lg-2 col-form-label"><b>Vehicle Number</b></label>
                                                <div class="col-lg-4">
                                                    <input type="text" class="form-control" formControlName="vehNumer">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label"><b>Driver Name</b></label>
                                                <div class="col-lg-4">
                                                    <input type="text" class="form-control"
                                                        formControlName="driverName">
                                                </div>
                                                <label class="col-lg-2 col-form-label"><b>Driver CNIC</b></label>
                                                <div class="col-lg-4">
                                                    <input type="text" class="form-control"
                                                        formControlName="driverCNIC">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label"><b>First Weight</b></label>
                                                <div class="col-lg-4">
                                                    <input type="text" class="form-control" formControlName="firstWt"
                                                        appTwoDigitDecimaNumber (blur)="calculateNetWeight()">
                                                </div>
                                                <label class="col-lg-2 col-form-label"><b>Secound Weight</b></label>
                                                <div class="col-lg-4">
                                                    <input type="text" class="form-control" formControlName="secondWt"
                                                        appTwoDigitDecimaNumber (blur)="calculateNetWeight()">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label"><b>AWB Weight</b></label>
                                                <div class="col-lg-4">
                                                    <input type="text" class="form-control" formControlName="AWBWt"
                                                        appTwoDigitDecimaNumber>
                                                </div>
                                                <label class="col-lg-2 col-form-label"><b>Net Weight</b></label>
                                                <div class="col-lg-4">
                                                    <input type="text" class="form-control" formControlName="netWt"
                                                        appTwoDigitDecimaNumber disabled>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label"><b>Remakrs</b></label>
                                                <div class="col-lg-10">
                                                    <textarea class="form-control" formControlName="remarks"
                                                        id="exampleFormControlTextarea1" rows="2"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-lg-12" [hidden]="!showWeight">
                                    <div class="wrapper wrapper-content animated fadeInRight">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-hover dt-responsive display nowrap"
                                                datatable [dtOptions]="dtOptions0" [dtTrigger]="dtTrigger0"
                                                style="width: 100%;">
                                                <thead>
                                                    <tr>
                                                        <th>Sr.</th>
                                                        <th>Vehicle Number</th>
                                                        <th>Driver Name</th>
                                                        <th>Driver CNIC</th>
                                                        <th>First Weight</th>
                                                        <th>2nd Weight</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr
                                                        *ngFor="let p of weightResponseModel.weightDetailResponse let ndx=index;">
                                                        <td>{{ndx+1}}</td>
                                                        <td><a>{{p.vehNumer }}</a></td>
                                                        <td>{{p.driverName}}</td>
                                                        <td>{{p.driverCNIC}}</td>
                                                        <td>{{p.firstWt}}</td>
                                                        <td>{{p.secondWt}}</td>
                                                        <td>
                                                            <button *ngIf="GV.canAddEdit_Agents"
                                                                class="btn btn-success color text-white btn-sm m-1"
                                                                (click)="editWeight(p)"> <i class="fa fa-edit"
                                                                    aria-hidden="true"></i>Edit</button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="row wrapper border-bottom white-bg page-heading ">
                                    <a *ngIf="GV.canAddEdit_Agents" [hidden]="!showeditButtonWeight"
                                        (click)="saveWeight()" class="btn btn-white color"><i class="fa fa-pencil"></i>
                                        Update
                                    </a>
                                    <div class="col-lg-5 ">
                                        <a *ngIf="GV.canAddEdit_Agents" [hidden]="!showSaveButtonWeight"
                                            (click)="saveWeight()" class="btn btn-success color text-white"><i
                                                class="fa fa-check "></i>
                                            Save </a>
                                        <a *ngIf="GV.canAddEdit_Agents" [hidden]="!showCancelButtonWeight"
                                            (click)="showHideWeight('Cancel')"
                                            class="btn btn-secondary text-white ml-3"><i class="fa fa-check "></i>
                                            Cancel
                                        </a>

                                    </div>



                                    <div class="col-lg-12 text-white">
                                        <a *ngIf="GV.canAddEdit_Agents" [hidden]="!shownewButtonWeight"
                                            (click)="showHideWeight('New')" class="btn btn-success color float-right"><i
                                                class="fa fa-paste"></i>
                                            Add New Weight </a>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div role="tabpanel" id="tab-6" class="tab-pane">
                        <div class="panel-body">
                            <div class="col-lg-12">
                                <div class="col-md-12" [hidden]="!addnewWeightDim">
                                    <form [formGroup]="DimweightForm" role="form">
                                        <div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label"><b>Select Nature of
                                                        Goods</b></label>
                                                <div class="col-lg-4">
                                                    <select class="form-control" formControlName="goodsidDIM">
                                                        <option *ngFor="let p of responseGoods" [value]="p.goodsId">
                                                            {{p.Nature}}</option>
                                                    </select>
                                                </div>
                                                <label class="col-lg-2 col-form-label"><b>No. of Pieces</b></label>
                                                <div class="col-lg-4">
                                                    <input type="text" class="form-control" formControlName="pieces">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label"><b>Length</b></label>
                                                <div class="col-lg-4">
                                                    <input type="text" class="form-control" formControlName="length"
                                                        appTwoDigitDecimaNumber>
                                                </div>
                                                <label class="col-lg-2 col-form-label"><b>Width</b></label>
                                                <div class="col-lg-4">
                                                    <input type="text" class="form-control" formControlName="width"
                                                        appTwoDigitDecimaNumber>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label"><b>Height</b></label>
                                                <div class="col-lg-4">
                                                    <input type="text" class="form-control" formControlName="height"
                                                        appTwoDigitDecimaNumber>
                                                </div>
                                                <label class="col-lg-2 col-form-label"><b>Size in CM</b></label>
                                                <div class="col-lg-4">
                                                    <input type="text" class="form-control" formControlName="sizeinCM"
                                                        (blur)="calculateCM()">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label"><b>Total Weight</b></label>
                                                <div class="col-lg-4">
                                                    <input type="text" class="form-control"
                                                        formControlName="totalWeight" appTwoDigitDecimaNumber>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label"><b>Remakrs</b></label>
                                                <div class="col-lg-10">
                                                    <textarea class="form-control" formControlName="remarks"
                                                        id="exampleFormControlTextarea1" rows="2"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-lg-12" [hidden]="!showWeightDim">
                                    <div class="wrapper wrapper-content animated fadeInRight">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-hover dt-responsive display nowrap"
                                                datatable [dtOptions]="dtOptions1" [dtTrigger]="dtTrigger1"
                                                style="width: 100%;">
                                                <thead>
                                                    <tr>
                                                        <th>Sr.</th>
                                                        <th>AWB No.</th>
                                                        <th>Nature</th>
                                                        <th>No. of Pieces</th>
                                                        <th>Length</th>
                                                        <th>With</th>
                                                        <th>Height</th>
                                                        <th>Size in CM</th>
                                                        <th>Total Weight</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let p of dimWeightResponse let ndx=index;">
                                                        <td>{{ndx+1}}</td>
                                                        <td><a>{{p.AWBNo }}</a></td>
                                                        <td><a>{{p.Nature }}</a></td>
                                                        <td><a>{{p.pieces }}</a></td>
                                                        <td><a>{{p.length }}</a></td>
                                                        <td><a>{{p.width }}</a></td>
                                                        <td><a>{{p.height }}</a></td>
                                                        <td><a>{{p.sizeinCM }}</a></td>
                                                        <td><a>{{p.totalWeight }}</a></td>
                                                        <td>
                                                            <button *ngIf="GV.canAddEdit_Agents"
                                                                class="btn btn-primary color btn-sm m-1"
                                                                (click)="editWeightDim(p)"> <i class="fa fa-edit"
                                                                    aria-hidden="true"></i>Edit</button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="row wrapper border-bottom white-bg page-heading ">
                                    <a *ngIf="GV.canAddEdit_Agents" [hidden]="!showeditButtonWeightDim"
                                        (click))="saveWeightDIM()" class="btn btn-white color"><i
                                            class="fa fa-pencil"></i>
                                        Update
                                    </a>
                                    <div class="col-md-5">
                                        <a *ngIf="GV.canAddEdit_Agents" [hidden]="!showSaveButtonWeightDim"
                                            (click)="saveWeightDIM()" class="btn btn-success color text-white "><i
                                                class="fa fa-check "></i>
                                            Save </a>
                                        <a *ngIf="GV.canAddEdit_Agents" [hidden]="!showCancelButtonWeightDim"
                                            (click)="showHideDimWeight('Cancel')"
                                            class="btn btn-secondary text-white ml-3"><i class="fa fa-check "></i>
                                            Cancel
                                        </a>
                                    </div>

                                    <div class="col-lg-12 text-white">
                                        <a *ngIf="GV.canAddEdit_Agents" [hidden]="!shownewButtonWeightDim"
                                            (click)="showHideDimWeight('New')"
                                            class="btn btn-success color text-white float-right"><i
                                                class="fa fa-paste"></i>
                                            Add New Weight </a>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" id="tab-7" class="tab-pane">
                        <div class="panel-body">
                            <div class="col-lg-12">
                                <div class="col-lg-12" [hidden]="!showWeight">
                                    <div class="wrapper wrapper-content animated fadeInRight">
                                        <div class="table-responsive">
                                            <table datatable [dtOptions]="dtOptions2" [dtTrigger]="dtTrigger2"
                                                class="table table-hover table-striped dt-responsive table-bordered"
                                                cellspacing="0" width="100%">
                                                <thead>
                                                    <tr>
                                                        <th>Sr.</th>
                                                        <th>Notice Type</th>
                                                        <th>Is Mandatory</th>
                                                        <th>Received</th>
                                                        <th>Pending</th>
                                                        <th>N/A</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let p of InquiryResponse let ndx=index;">
                                                        <td>{{ndx+1}}</td>
                                                        <td><a>{{p.noticeType }}</a></td>
                                                        <td><input disabled type="checkbox" name="websitecheck"
                                                                [checked]="p.mandatory" value="{{p.mandatory}}"></td>
                                                        <td><input type="checkbox" name="revieved"
                                                                [checked]="p.revieved" value="{{p.revieved}}"
                                                                (change)="p.revieved= !p.revieved"></td>
                                                        <td><input type="checkbox" name="websitecheck"
                                                                [checked]="p.pending" value="{{p.pending}}"
                                                                (change)="p.pending= !p.pending"></td>
                                                        <td><input type="checkbox" name="websitecheck" [checked]="p.na"
                                                                value="{{p.na}}" (change)="p.na= !p.na"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="row float-right pr-3">
                                            <button type="button" class="btn btn-w-m btn-success color text-white"
                                                (click)="saveNotice()">Save
                                                Changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" id="tab-8" class="tab-pane">
                        <div class="panel-body">

                            <div class="col-lg-12">
                                <div class="col-md-12" [hidden]="!addnewHouse">
                                    <form [formGroup]="houseForm" role="form">
                                        <br>
                                        <div class="row">
                                            <div class="col-sm">
                                                <div class="form-group  row"><label
                                                        class="col-sm-4 col-form-label"><b>HAWB
                                                            No.</b></label>
                                                    <div class="col-sm-8">
                                                        <input type="text" formControlName="HAWBNo"
                                                            class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group  row"><label
                                                        class="col-sm-4 col-form-label"><b>No.
                                                            of Pieces</b></label>
                                                    <div class="col-sm-8">
                                                        <input type="text" formControlName="pieces" numbersOnly
                                                            class="form-control" (blur)="getChargeable()">
                                                    </div>
                                                </div>
                                                <div class="form-group  row">
                                                    <label class="col-sm-1 col-form-label"><b>L</b> </label>
                                                    <div class="col-sm-3">
                                                        <input type="text" formControlName="length" class="form-control"
                                                            appTwoDigitDecimaNumber (blur)="getChargeable()">
                                                    </div>
                                                    <label class="col-sm-1 col-form-label"><b>W</b> </label>
                                                    <div class="col-sm-3">
                                                        <input type="text" formControlName="width" class="form-control"
                                                            appTwoDigitDecimaNumber (blur)="getChargeable()">
                                                    </div>
                                                    <label class="col-sm-1 col-form-label"><b>H</b> </label>
                                                    <div class="col-sm-3">
                                                        <input type="text" formControlName="height"
                                                            appTwoDigitDecimaNumber (blur)="getChargeable()"
                                                            class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm">
                                                <div class="form-group  row"><label
                                                        class="col-sm-4 col-form-label"><b>Gross
                                                            Weight</b></label>
                                                    <div class="col-sm-8">
                                                        <input type="text" formControlName="grossWeight"
                                                            appTwoDigitDecimaNumber class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group  row"><label
                                                        class="col-sm-4 col-form-label"><b>Chargeable
                                                            Weight</b></label>
                                                    <div class="col-sm-8">
                                                        <input type="text" formControlName="chargeableWeight"
                                                            appTwoDigitDecimaNumber disabled class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group  row"><label
                                                        class="col-sm-4 col-form-label"><b>Commodity</b></label>
                                                    <div class="col-sm-8">
                                                        <select class="form-control" formControlName="comid">
                                                            <option *ngFor="let p of responseCommodity"
                                                                [value]="p.comid">
                                                                {{p.comm_description}}
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group  row"><label
                                                        class="col-sm-4 col-form-label"><b>Nature
                                                            of Goods</b></label>
                                                    <div class="col-sm-8">
                                                        <select class="form-control" formControlName="goodsIdHouse"
                                                            (blur)="getNoticeTypes()">
                                                            <option *ngFor="let p of responseGoods" [value]="p.goodsId"
                                                                [selected]="p.goodsId == GoodsID">
                                                                {{p.Nature}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="hr-line-dashed"></div>
                                        <div class="row">
                                            <div class="col-sm">
                                                <div class="form-group  row"><label
                                                        class="col-sm-4 col-form-label"><b>Select
                                                            Shipper</b></label>
                                                    <div class="col-sm-8">
                                                        <select class="form-control" formControlName="shipperId"
                                                            (blur)="getShipperDetailHouse()">
                                                            <option *ngFor="let p of shippereResponse"
                                                                [value]="p.shipperId">
                                                                {{p.shipperName}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group  row"><label
                                                        class="col-sm-4 col-form-label"><b>Country</b></label>
                                                    <div class="col-sm-8">
                                                        <input type="text" formControlName="shippercountryName"
                                                            class="form-control" disabled>
                                                    </div>
                                                </div>
                                                <div class="form-group  row"><label
                                                        class="col-sm-4 col-form-label"><b>Phone
                                                            Number</b></label>
                                                    <div class="col-sm-8">
                                                        <input type="text" formControlName="shipperPhoneNo"
                                                            class="form-control" disabled>
                                                    </div>
                                                </div>
                                                <div class="form-group  row"><label
                                                        class="col-sm-4 col-form-label"><b>Address</b></label>
                                                    <div class="col-sm-8">
                                                        <textarea class="form-control" formControlName="shipperAddress"
                                                            id="exampleFormControlTextarea1" rows="3"
                                                            disabled></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm">
                                                <div class="form-group  row"><label
                                                        class="col-sm-4 col-form-label"><b>Select
                                                            Cosignee</b></label>
                                                    <div class="col-sm-8">
                                                        <select class="form-control" formControlName="cid"
                                                            (blur)="getConsigneeDetailHouse()">
                                                            <option *ngFor="let p of consigneeResponse" [value]="p.cid">
                                                                {{p.consigneeName}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group  row"><label
                                                        class="col-sm-4 col-form-label"><b>Country</b></label>
                                                    <div class="col-sm-8">
                                                        <input type="text" formControlName="consigneecountryName"
                                                            class="form-control" disabled>
                                                    </div>
                                                </div>
                                                <div class="form-group  row"><label
                                                        class="col-sm-4 col-form-label"><b>Phone
                                                            Number
                                                            Number</b></label>
                                                    <div class="col-sm-8">
                                                        <input type="text" formControlName="consigneePhoneNo"
                                                            class="form-control" disabled>
                                                    </div>
                                                </div>
                                                <div class="form-group  row"><label
                                                        class="col-sm-4 col-form-label"><b>Address</b></label>
                                                    <div class="col-sm-8">
                                                        <textarea class="form-control"
                                                            formControlName="consigneeAddress"
                                                            id="exampleFormControlTextarea1" rows="3"
                                                            disabled></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-lg-12" [hidden]="!showHouse">
                                    <div class="wrapper wrapper-content animated fadeInRight">
                                        <div class="table-responsive">
                                            <table datatable [dtOptions]="dtOptions3" [dtTrigger]="dtTrigger3"
                                                class="table table-hover table-striped dt-responsive table-bordered"
                                                cellspacing="0" width="100%">
                                                <thead>
                                                    <tr>
                                                        <th>Sr.</th>
                                                        <th>HAWB No.</th>
                                                        <th>AWB No.</th>
                                                        <th>Pieces</th>
                                                        <th>Length</th>
                                                        <th>Width</th>
                                                        <th>Height</th>
                                                        <th>Gross Wt.</th>
                                                        <th>Chargeable Wt.</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let p of HouseAWB let ndx=index;">
                                                        <td>{{ndx+1}}</td>
                                                        <td><a>{{p.HAWBNo }}</a></td>
                                                        <td><a>{{p.AWBNo }}</a></td>
                                                        <td><a>{{p.pieces }}</a></td>
                                                        <td><a>{{p.length }}</a></td>
                                                        <td><a>{{p.width }}</a></td>
                                                        <td><a>{{p.height }}</a></td>
                                                        <td><a>{{p.grossWeight }}</a></td>
                                                        <td><a>{{p.chargeableWeight }}</a></td>
                                                        <td>
                                                            <button *ngIf="GV.canAddEdit_Agents"
                                                                class="btn btn-primary color btn-sm m-1"
                                                                (click)="editHouse(p)"> <i class="fa fa-edit"
                                                                    aria-hidden="true"></i>Edit</button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="row wrapper border-bottom white-bg page-heading ">
                                    <a [hidden]="!showeditButtonHouse" (click)="saveHouse()"
                                        class="btn btn-white color"><i class="fa fa-pencil"></i>
                                        Update </a>
                                    <div class="col-md-5">
                                        <a [hidden]="!showSaveButtonHouse" (click)="saveHouse()"
                                            class="btn btn-success color text-white"><i class="fa fa-check "></i>
                                            Save </a>
                                        <a [hidden]="!showCancelButtonHouse" (click)="showHideHouse('Cancel')"
                                            class="btn btn-secondary text-white ml-3"><i class="fa fa-check "></i>
                                            Cancel
                                        </a>
                                    </div>
                                    <div class=" col-lg-12 ">
                                        <a [hidden]="!shownewButtonHouse" (click)="showHideHouse('New')"
                                            class="btn btn-success color text-white float-right mr-3"><i
                                                class="fa fa-paste"></i>
                                            Add New House </a>
                                    </div>
                                </div>

                            </div>


                        </div>
                    </div>
                    <div role="tabpanel" id="tab-9" class="tab-pane">
                        <div class="panel-body">
                            <div class="col-lg-12">
                                <div class="col-md-12" [hidden]="!addnewAtt">
                                    <form [formGroup]="weightForm" role="form">
                                        <div>
                                            <div class="form-group">
                                                <label for="file"><b>Choose File</b></label>
                                                <input id="logo" type="file" #fileUpload id="fileUpload"
                                                    name="fileUpload" accept="image/x-png,image/jpg,image/jpeg"
                                                    style="display:none;" />
                                            </div>
                                        </div>
                                        <div class="custom-file">
                                            <input id="logo" type="" class="custom-file-input" (click)="onClick()">
                                            <label for="logo" class="custom-file-label">{{fileName}}</label>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-lg-12" [hidden]="!showAtt">
                                    <div class="wrapper wrapper-content animated fadeInRight">
                                        <div class="table-responsive">
                                            <table datatable [dtOptions]="dtOptions4" [dtTrigger]="dtTrigger4"
                                                class="table table-hover table-striped dt-responsive table-bordered"
                                                cellspacing="0" width="100%">
                                                <thead>
                                                    <tr>
                                                        <th>Sr.</th>
                                                        <th>File Name</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let p of attachmentResponse let ndx=index;">
                                                        <td>{{ndx+1}}</td>
                                                        <td><a>{{p.fileName }}</a></td>
                                                        <td>
                                                            <button *ngIf="GV.canAddEdit_Agents"
                                                                class="btn btn-primary color btn-sm m-1"
                                                                (click)="viewImage(p)"> <i class="fa fa-edit"
                                                                    aria-hidden="true"></i>View</button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="row wrapper border-bottom white-bg page-heading ">
                                    <a *ngIf="GV.canAddEdit_Agents" [hidden]="!showeditButtonAtt"
                                        (click)="uploadFiles()" class="btn btn-white color"><i class="fa fa-pencil"></i>
                                        Update </a>
                                    <div class="col-md-5">
                                        <a *ngIf="GV.canAddEdit_Agents" [hidden]="!showSaveButtonAtt"
                                            (click)="uploadFiles()" class="btn btn-success color text-white"><i
                                                class="fa fa-check "></i>
                                            Save </a>
                                        <a *ngIf="GV.canAddEdit_Agents" [hidden]="!showCancelButtonAtt"
                                            (click)="showHideATT('Cancel')" class="btn btn-secondary text-white ml-3"><i
                                                class="fa fa-check "></i> Cancel
                                        </a>
                                    </div>

                                    <div class="col-lg-12">
                                        <a *ngIf="GV.canAddEdit_Agents" [hidden]="!shownewButtonAtt"
                                            (click)="showHideATT('New')"
                                            class="btn btn-success color text-white float-right mr-3"><i
                                                class="fa fa-paste"></i>
                                            Add New Attachment </a>
                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>


            </div>
        </div>

    </div>
    <div class="footer">
        <div class="float-right">
            All Right <strong>Reserved</strong>.
        </div>
        <div>
            <strong>Copyright</strong> Menzies RAS &copy; 2021
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-xl" id="view-assigned-group-role-modal" data-backdrop="static"
    data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="assignedGroupRoleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="assignedGroupRoleModalLabel">Nature Of Goods Detail</h4>
                <button type="button" class="close" #closeNatureOfGoodsModal data-dismiss="modal" aria-hidden="true"
                    (click)="showHideWeightNature('Cancel')">
                    ×
                </button>
            </div>
            <app-nature-of-goods (newEvent)="selectGood($event)"></app-nature-of-goods>
        </div>
    </div>
</div>

<div class="modal fade bd-example1-modal-xl" id="view-assigned-group-role-modal" data-backdrop="static"
    data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="assignedGroupRoleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header pt-1 pb-1">
                <h4 class="modal-title" id="viewLeaveModelLabel">Consolidator Details</h4>
                <button type="button" class="close" data-dismiss="modal" #closeConsolidatorModal aria-hidden="true">
                    ×
                </button>
            </div>
            <app-agents (newEventForTab1)="selectNewAgentForTab1($event)"></app-agents>
        </div>
    </div>
</div>

<div class="modal fade bd-example2-modal-xl" id="view-assigned-group-role-modal" data-backdrop="static"
    data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="assignedGroupRoleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header pt-1 pb-1">
                <h4 class="modal-title" id="viewLeaveModelLabel">Commodity Details</h4>
                <button type="button" class="close" data-dismiss="modal" #closeCommodityModal aria-hidden="true">
                    ×
                </button>
            </div>
            <app-commodity (newEvent)="selectCommodity($event)"></app-commodity>
        </div>
    </div>
</div>

<div class="modal fade bd-example3-modal-xl" id="view-assigned-group-role-modal" data-backdrop="static"
    data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="assignedGroupRoleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header pt-1 pb-1">
                <h4 class="modal-title" id="viewLeaveModelLabel">Agents Details</h4>
                <button type="button" class="close" data-dismiss="modal" #closeAgentsModal aria-hidden="true">
                    ×
                </button>
            </div>
            <app-agents (newEventForTab2)="selectNewAgentForTab2($event)"></app-agents>
        </div>
    </div>
</div>