<div class="row mb-2">
    <div class="col-md-10 col-lg-10 col-sm-12">
        <div class="panel panel-success">
            <div class="panel-heading">
                Add new complaint
            </div>
            <form [formGroup]="ComplaintForm" role="form">
                <div class="ibox-content">
                    <div class="form-group row"><label class="col-lg-2 col-form-label">Select Complaint Type</label>
                        <select class=" form-control col-lg-4" (change)="changeComplaintTypeEvent($event)"
                            formControlName="complaintType">
                            <option value="" disabled>Choose Complaint Type</option>
                            <option *ngFor="let p of  complaintTypes" [ngValue]="p.typeID">{{p.complaintType1}}</option>
                        </select>
                    </div>
                    <div class="form-group row"><label class="col-lg-2 col-form-label">Enter Description</label>
                        <textarea required class="form-control col-lg-10 col" rows="3" maxlength="1000" id="comment"
                            formControlName="description"></textarea>
                    </div>
                    <div class="form-group row"><label class="col-lg-2 col-form-label">Select any attachment</label>
                        <input id="logo" type="file" #fileUpload id="fileUpload" name="fileUpload"
                            accept="image/x-png,image/jpg,image/jpeg" style="display:none;" />

                        <div class="custom-file form-control col-lg-10 col">
                            <input id="logo" type="" class="custom-file-input" (click)="onClick()">
                            <label for="logo" class="custom-file-label">{{fileName}}</label>
                        </div>
                    </div>
                    <div class="col-sm-3">
                                        <button type="submit" class="btn btn-primary btn-block font-weight-bold"
                                            (click)="submitComplaint()" > Submit
                                        </button>
                                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-2 col-lg-2 col-sm-12">
        <div class="card mt-2">
            <div class="card-body" style="padding: 12px;">
                <h4>Complaint History</h4>
                <div class="widget p-xxs text-center" *ngFor="let p of ComplaintCounter;index as i"
                    [ngClass]="{'casual-leave-color' : i==0, 'sick-leave-color':i ==1, 'annual-leave-color': i==2}">
                    <div class="m-b-sm">
                        <h1 class="m-xs">{{p.complaintCount}}</h1>
                        <h3 class="font-bold no-margins">
                            {{p.complaintCat}}
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>Pending Complaints</h5>

            </div>
            <div class="ibox-content">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                    class="table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>

                            <th>Date From</th>
                            <th>Date To</th>
                            <th>Days</th>
                            <th>Leave Type</th>
                            <th>Leave Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let p of pendingComplaints let ndx=index;">

                            <td>{{p.LeaveFrom| date }}</td>
                            <td>{{p.LeaveTo | date}}</td>
                            <td>{{p.LeaveDays}}</td>
                            <td>{{p.LeaveCategory}}</td>
                            <td>{{p.LeaveStatus}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>