<div class="row wrapper border-bottom white-bg page-heading mt-2 m-2">
    <div class="col-lg-8">
        <h2>Agent Setup</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a routerLink="/Dashboard">Home</a>
            </li>
            <li class="breadcrumb-item">
                Admin
            </li>
            <li class="breadcrumb-item active">
                <strong>Agents</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-4">
        <div class="title-action">
            <a *ngIf="GV.canAddEdit_Agents" [hidden]="!showeditButton" (click)="saveShipper()" class="btn btn-success color text-white"><i
                    class="fa fa-pencil"></i> Update </a>
            <a *ngIf="GV.canAddEdit_Agents" [hidden]="!showSaveButton" (click)="saveShipper()" class="btn btn-success color text-white"><i
                    class="fa fa-check "></i>
                Save </a>
            <a *ngIf="GV.canAddEdit_Agents" [hidden]="!showCancelButton" (click)="showhide('Cancel')"
                class="btn btn-secondary text-white ml-3"><i class="fa fa-check "></i> Cancel </a>
            <a *ngIf="GV.canAddEdit_Agents" [hidden]="!shownewButton" (click)="showhide('New')"
                class="btn btn-success color text-white"><i class="fa fa-paste"></i>
                Add new agent </a>
        </div>
    </div>
</div>
<form [formGroup]="agentForm" role="form">
    <div class="row" [hidden]="!addnewAgent">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="ibox-content p-xl">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="form-group mt-2">
                                <label class="font-normal"><b>Agent Type</b><span class="imp">*</span></label>
                                <select class="form-control" formControlName="agenttypeID">
                                    <option *ngFor="let p of agentTypes" [value]="p.typeid">{{p.agentType}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="form-group mt-2">
                                <label class="font-normal"><b>Agent Name</b><span class="imp">*</span></label>
                                <input type="text" placeholder="Agent Name" class="form-control"
                                    formControlName="agentName">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="form-group mt-2">
                                <label class="font-normal"><b>Select Country</b><span class="imp">*</span></label>
                                <select class="form-control" (change)="changeCountry($event.target.value)"
                                    formControlName="countryID">
                                    <option *ngFor="let p of responseCountries" [value]="p.id">{{p.countryName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="form-group mt-2">
                                <label class="font-normal"><b>Select State</b><span class="imp">*</span></label>
                                <select class="form-control" (change)="changeRegion($event.target.value)"
                                    formControlName="stateID">
                                    <option *ngFor="let p of responseRegions" [value]="p.id">{{p.regionName}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="form-group mt-2">
                                <label class="font-normal"><b>City</b><span class="imp">*</span></label>
                                <select class="form-control" formControlName="cityID">
                                    <option *ngFor="let p of responseCity" [value]="p.Id">{{p.cityName}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <div class="form-group mt-2">
                                <label class="font-normal"><b>CNIC</b></label>
                                <input type="text" placeholder="Enter CNIC" formControlName="CNIC" mask="00:00:00"
                                    class="form-control" mask="00000-0000000-0">
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <div class="form-group mt-2">
                                <label class="font-normal"><b>CNIC Expiry</b></label>
                                <input type="text" placeholder="CNIC Expiry" formControlName="cnicExpiry"
                                    mask="00:00:00" class="form-control" mask="00000-0000000-0">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="form-group mt-2">
                                <label class="font-normal"><b>Email</b></label>
                                <input type="email" placeholder="Enter Email" formControlName="emailAddress"
                                    class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="form-group mt-2">
                                <label class="font-normal"><b>Mobile Number</b></label>
                                <input type=" text" placeholder="Enter Mobile" formControlName="mobileNo"
                                    class="form-control">
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <div class="form-group mt-2">
                                <label class="font-normal"><b>Phone Number</b></label>
                                <input type="text" placeholder="Enter Phone" formControlName="PhoneNo" mask="00:00:00"
                                    class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <div class="form-group mt-2">
                                <label class="font-normal"><b>Fax Number</b></label>
                                <input type="text" placeholder="Enter Fax" formControlName="faxNo" mask="00:00:00"
                                    class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="form-group mt-2">
                                <label class="font-normal"><b>IATA Reg No. </b></label>
                                <input type="email" placeholder="Enter Reg No." formControlName="IATARegNo"
                                    class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="form-group mt-2">
                                <label class="font-normal"><b>Select Consignee </b></label>
                                <select class="form-control" formControlName="cid">
                                    <option *ngFor="let p of consigneeResponse" [value]="p.cid">{{p.consigneeName}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="form-group mt-2">
                                <label class="font-normal"><b>Address</b><span class="imp">*</span></label>
                                <textarea name="message" rows="2" formControlName="agentAddress"
                                    class="form-control"></textarea>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="row" [hidden]="!showAgents">
            <div class="col-lg-12">
                <div class="wrapper wrapper-content animated fadeInRight">
                    <div class="ibox-content">

                        <div class="table-responsive">
                            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                                class="table table-hover table-striped dt-responsive table-bordered" cellspacing="0"
                                width="100%">
                                <thead>
                                    <tr>
                                        <th>Sr.</th>
                                        <th>Agent Name</th>
                                        <th>Agent Type</th>
                                        <th>Mobile</th>
                                        <th>CNIC</th>
                                        <th>PhoneNo</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody> 
                                    <tr *ngFor="let p of agentsResponse let ndx=index;" (click)="selectAgent(p.agentId)">
                                        <td>{{ndx+1}}</td>
                                        <td><a>{{p.agentName }}</a></td>
                                        <td>{{p.agentType}}</td>
                                        <td>{{p.mobileNo}}</td>
                                        <td>{{p.CNIC}}</td>
                                        <td>{{p.PhoneNo}}</td>
                                        <td >
                                            <button *ngIf="GV.canAddEdit_Agents" class="btn btn-success color text-white btn-sm m-1"
                                                (click)="editNew(p,ndx)"> <i class="fa fa-edit"
                                                    aria-hidden="true"></i>Edit</button>
                                                    <button class="btn btn-light  btn-sm m-1" (click)="getAgentDetail(p)"
                                            data-toggle="modal" data-target=".bd-example-modal-xl"> <i
                                                class="fa fa-eye" aria-hidden="true"></i> View</button>
                                           
                                        </td>
                                      
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="float-right">
           All Right <strong>Reserved</strong>.
        </div>
        <div>
            <strong>Copyright</strong> Menzies RAS &copy; 2021
        </div>
    </div>
</form>
<div class="modal fade bd-example-modal-xl" id="view-assigned-group-role-modal" data-backdrop="static"
    data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="assignedGroupRoleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="assignedGroupRoleModalLabel">Agent Detail</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form>
                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label">Agent Type</label>
                                <div class="col-lg-4">
                                    <input type="text" class="form-control" [readonly]="true"
                                        [(ngModel)]="viewAgent.agentType" [ngModelOptions]="{standalone: true}">
                                </div>
                                <label class="col-lg-2 col-form-label">Agent Name<span class="imp">*</span></label>
                                <div class="col-lg-4">
                                    <input type="text" class="form-control" [readonly]="true"
                                        [(ngModel)]="viewAgent.agentName" [ngModelOptions]="{standalone: true}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label">Country</label>
                                <div class="col-lg-4">
                                    <input type="text" class="form-control" [readonly]="true"
                                        [(ngModel)]="viewAgent.countryName" [ngModelOptions]="{standalone: true}">
                                </div>
                                <label class="col-lg-2 col-form-label">State<span class="imp">*</span></label>
                                <div class="col-lg-4">
                                    <input type="text" class="form-control" [readonly]="true"
                                        [(ngModel)]="viewAgent.regionName" [ngModelOptions]="{standalone: true}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label">City</label>
                                <div class="col-lg-4">
                                    <input type="text" class="form-control" [readonly]="true"
                                        [(ngModel)]="viewAgent.cityName" [ngModelOptions]="{standalone: true}">
                                </div>
                                <label class="col-lg-2 col-form-label">Email<span class="imp">*</span></label>
                                <div class="col-lg-4">
                                    <input type="text" class="form-control" [readonly]="true"
                                        [(ngModel)]="viewAgent.emailAddress" [ngModelOptions]="{standalone: true}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label">CNIC</label>
                                <div class="col-lg-4">
                                    <input type="text" class="form-control" [readonly]="true"
                                        [(ngModel)]="viewAgent.CNIC" [ngModelOptions]="{standalone: true}">
                                </div>
                                <label class="col-lg-2 col-form-label">CNIC Expiry<span class="imp">*</span></label>
                                <div class="col-lg-4">
                                    <input type="text" class="form-control" [readonly]="true"
                                        [(ngModel)]="viewAgent.cnicExpiry" [ngModelOptions]="{standalone: true}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label">Mobile Number</label>
                                <div class="col-lg-4">
                                    <input type="text" class="form-control" [readonly]="true"
                                        [(ngModel)]="viewAgent.mobileNo" [ngModelOptions]="{standalone: true}">
                                </div>
                                <label class="col-lg-2 col-form-label">Phone Number<span class="imp">*</span></label>
                                <div class="col-lg-4">
                                    <input type="text" class="form-control" [(ngModel)]="viewAgent.PhoneNo"
                                        [readonly]="true" [ngModelOptions]="{standalone: true}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label">Fax Number</label>
                                <div class="col-lg-4">
                                    <input type="text" class="form-control" [readonly]="true"
                                        [(ngModel)]="viewAgent.faxNo" [ngModelOptions]="{standalone: true}">
                                </div>
                                <label class="col-lg-2 col-form-label">IATA Reg. No. <span class="imp">*</span></label>
                                <div class="col-lg-4">
                                    <input type="text" placeholder="IATA Reg. No." class="form-control"
                                        [readonly]="true" [(ngModel)]="viewAgent.IATARegNo"
                                        [ngModelOptions]="{standalone: true}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label">Address</label>
                                <div class="col-lg-10">
                                    <textarea disabled class="form-control" rows="3" id="comment"
                                        [(ngModel)]="viewAgent.agentAddress"
                                        [ngModelOptions]="{standalone: true}"></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>