<div class="row wrapper border-bottom white-bg page-heading m-2 mt-2">
    <div class="col-lg-8">
        <br>
        <div class="form-group  row"><label class="col-sm-3 col-form-label">Enter AWB Number</label>
            <div class="col-sm-4"><input type="text" class="form-control" [(ngModel)]="AWBNo"
                    (keyup.enter)="getAWBDetail()" [igxMask]="'000-0000-0000'">
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="title-action">
            <button type="button" class="btn btn-w-m btn-success color text-white " (click)="getAWBDetail()">Search</button>
        </div>
    </div>
</div>
<form [formGroup]="AWBForm" role="form">
    <div class="wrapper wrapper-content animated fadeInRight ">
        <div class="ibox-content p-xl">
            <div class="row">
                <div class="col-sm">
                    <div class="form-group  row"><label class="col-sm-4 col-form-label">AWB Number</label>
                        <div class="col-sm-8"><input type="text" class="form-control" formControlName="AWBNo">
                        </div>
                    </div>
                    <div class="form-group  row"><label class="col-sm-4 col-form-label">Flight No.</label>
                        <div class="col-sm-8"><input type="text" class="form-control" formControlName="flightNo">
                        </div>
                    </div>
                    <div class="form-group  row"><label class="col-sm-4 col-form-label">Aircrapft Reg No.</label>
                        <div class="col-sm-8"><input type="text" class="form-control" formControlName="regNo">
                        </div>
                    </div>
                    <div class="form-group  row"><label class="col-sm-4 col-form-label">Departure Date.</label>
                        <div class="col-sm-8"><input type="text" class="form-control" formControlName="depDate">
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-group  row"><label class="col-sm-4 col-form-label">Departure Time.</label>
                        <div class="col-sm-8"><input type="text" class="form-control" formControlName="depTime">
                        </div>
                    </div>
                    <div class="form-group  row"><label class="col-sm-4 col-form-label">Destination</label>
                        <div class="col-sm-8"><input type="text" class="form-control" formControlName="Destination">
                        </div>
                    </div>
                    <div class="form-group  row"><label class="col-sm-4 col-form-label">No. of Pieces.</label>
                        <div class="col-sm-8"><input type="text" class="form-control" formControlName="Pieces">
                        </div>
                    </div>
                    <div class="form-group  row"><label class="col-sm-4 col-form-label">Gross Weight.</label>
                        <div class="col-sm-8"><input type="text" class="form-control" formControlName="grossWeight">
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-group  row"><label class="col-sm-4 col-form-label">Chargeable Weight.</label>
                        <div class="col-sm-8"><input type="text" class="form-control" formControlName="grossWeight">
                        </div>
                    </div>
                    <div class="form-group  row"><label class="col-sm-4 col-form-label">Commodity</label>
                        <div class="col-sm-8"><input type="text" class="form-control"
                                formControlName="comm_description">
                        </div>
                    </div>
                    <div class="form-group  row"><label class="col-sm-4 col-form-label">Nature of Goods</label>
                        <div class="col-sm-8"><input type="text" class="form-control" formControlName="Nature">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<form [formGroup]="examinationForm" role="form">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="ibox-content p-xl">
            <div class="table-responsive ">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                    class="table table-hover table-striped dt-responsive table-bordered " cellspacing="0" width="100%">
                    <thead >
                        <tr>
                            <th>Sr.</th>
                            <th>Action</th>
                            <th>Occurance</th>
                            <th>Description</th>
                            <th>Pieces</th>
                            <th>Examination Type</th>
                            <th>Completed</th>
                            <th>Pending</th>
                            <th>Exempt</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let p of responseExamination let ndx=index;">
                            <td>{{ndx+1}}</td>
                            <td>
                                <button *ngIf="GV.canAddEdit_Agents" class="btn btn-primary color text-white btn-sm m-1"
                                    (click)="editNew(p,ndx)"> <i class="fa fa-edit" aria-hidden="true"></i>View</button>
                                <button class="btn btn-primary color text-white btn-sm m-1" data-toggle="modal"
                                    (click)="editExamination(p)" data-target=".bd-example-modal-xl"> <i
                                        class="fa fa-eye" aria-hidden="true"></i>
                                    Update</button>
                            </td>
                            <td>{{p.occurance}}</td>
                            <td>{{p.description}}</td>
                            <td>{{p.pieces}}</td>
                            <td>{{p.examinationType}}</td>
                            <td>{{p.completed}}</td>
                            <td>{{p.pending}}</td>
                            <td>{{p.exempt}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal fade bd-example-modal-xl" id="view-assigned-group-role-modal" data-backdrop="static"
        data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="assignedGroupRoleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="assignedGroupRoleModalLabel">Shipper Detail</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        ×
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-sm">
                                    <div class="form-group  row"><label
                                            class="col-sm-4 col-form-label">Description</label>
                                        <div class="col-sm-8"><input type="text" class="form-control"
                                                formControlName="description">
                                        </div>
                                    </div>
                                    <div class="form-group  row"><label class="col-sm-4 col-form-label">Pieces</label>
                                        <div class="col-sm-8"><input type="text" class="form-control"
                                                formControlName="pieces" appTwoDigitDecimaNumber>
                                        </div>
                                    </div>
                                    <div class="form-group  row"><label class="col-sm-4 col-form-label">ANF Customer
                                            Examption No.</label>
                                        <div class="col-sm-8"><input type="text" class="form-control"
                                                formControlName="anfCustomExemptionNo">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="form-check row">
                                        <input class="form-check-input" formControlName="occurance" type="checkbox"
                                            value="" id="occurance" checked>
                                        <label class="form-check-label" for="occurance">
                                            Occurance
                                        </label>
                                    </div>
                                    <div class="form-check row">
                                        <input class="form-check-input" formControlName="pending" type="checkbox"
                                            value="" id="pending" checked>
                                        <label class="form-check-label" for="pending">
                                            Pending
                                        </label>
                                    </div>
                                    <div class="form-check row">
                                        <input class="form-check-input" formControlName="Completed" type="checkbox"
                                            value="" id="Completed" checked>
                                        <label class="form-check-label" for="Completed">
                                            Completed
                                        </label>
                                    </div>
                                    <div class="form-check row">
                                        <input class="form-check-input" formControlName="exempt" type="checkbox"
                                            value="" id="exempt" checked>
                                        <label class="form-check-label" for="exempt">
                                            Exempt
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-4 col-form-label">Remarks</label>
                                <textarea name="remarks" rows="2" formControlName="remarks"
                                    class="form-control"></textarea>
                            </div>
                            <div class="row">
                                <button class="btn btn-primary color text-white btn-sm m-1" (click)="SaveDetail()"> <i class="fa fa-edit"
                                        aria-hidden="true"></i>Update</button>
                            </div>
                        </div>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>
    <div class="footer">
        <div class="float-right">
           All Right <strong>Reserved</strong>.
        </div>
        <div>
            <strong>Copyright</strong> Menzies RAS &copy; 2021
        </div>
    </div>
</form>