.modal-xl {
    max-width: 1050px !important;
}
.color{
    background-color: #203668;
    
}
.form-control:focus-visible{
    border-color: #c0a264;
    box-shadow: 0 0 2pt 2pt  #c0a264 ;
  outline-width: 0px;
}
.color{
    color:  #203668;
}
th{
    background-color:  #C0A264 !important;;
    color: white;
}