<div class="wrapper wrapper-content animated fadeInRight">
   <div class="row">
      <div class="col-md-4">
         <div class="payment-card">
            <div class="row">
               <div class="text-center col-md-6">
                  <div class="mr-2">Widget 1</div>
               </div>
            </div>
            <i class="fa fa-plane payment-icon-big text-success"> ISB</i>
            <br>
            <div class="row">
               <div class="col-sm-12">
                  <h3>Expiry date:</h3> 10/16
               </div>

            </div>
            <div class="row">
               <div class="col-sm-6">
                  <small>
                     <strong>Expiry date:</strong> 10/16
                  </small>
               </div>
               <div class="col-sm-6 text-right">
                  <small>
                     <strong>Name:</strong> David Williams
                  </small>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-4">
         <div class="payment-card">
            <i class="fa fa-plane payment-icon-big text-warning"> LHE</i>
            <h2>
               Flights # 08
            </h2>
            <div class="row">
               <div class="col-sm-6">
                  <small>
                     <strong>Expiry date:</strong> 10/16
                  </small>
               </div>
               <div class="col-sm-6 text-right">
                  <small>
                     <strong>Name:</strong> Anna Smith
                  </small>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-4">
         <div class="payment-card">
            <i class="fa fa-plane payment-icon-big text-danger">LYP</i>
            <h2>
               Flights # 08
            </h2>
            <div class="row">
               <div class="col-sm-6">
                  <small>
                     <strong>Expiry date:</strong> 10/16
                  </small>
               </div>
               <div class="col-sm-6 text-right">
                  <small>
                     <strong>Name:</strong> Morgan Stanch
                  </small>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-md-4">
         <div class="payment-card">
            <i class="fa fa-plane payment-icon-big text-success">UET</i>
            <h2>
               Flights #
            </h2>
            <div class="row">
               <div class="col-sm-6">
                  <small>
                     <strong>Expiry date:</strong> 10/16
                  </small>
               </div>
               <div class="col-sm-6 text-right">
                  <small>
                     <strong>Name:</strong> David Williams
                  </small>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-4">
         <div class="payment-card">
            <i class="fa fa-plane payment-icon-big text-warning">MUX</i>
            <h2>
               Flights # 08
            </h2>
            <div class="row">
               <div class="col-sm-6">
                  <small>
                     <strong>Expiry date:</strong> 10/16
                  </small>
               </div>
               <div class="col-sm-6 text-right">
                  <small>
                     <strong>Name:</strong> Anna Smith
                  </small>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-4">
         <div class="payment-card">
            <i class="fa fa-plane payment-icon-big text-danger">PEW</i>
            <h2>
               Flights # 08
            </h2>
            <div class="row">
               <div class="col-sm-6">
                  <small>
                     <strong>Expiry date:</strong> 10/16
                  </small>
               </div>
               <div class="col-sm-6 text-right">
                  <small>
                     <strong>Name:</strong> Morgan Stanch
                  </small>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-md-4">
         <div class="payment-card">
            <i class="fa fa-plane payment-icon-big text-success">SKT</i>
            <h2>
               Flights # 08
            </h2>
            <div class="row">
               <div class="col-sm-6">
                  <small>
                     <strong>Expiry date:</strong> 10/16
                  </small>
               </div>
               <div class="col-sm-6 text-right">
                  <small>
                     <strong>Name:</strong> David Williams
                  </small>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-4">
         <div class="payment-card">
            <i class="fa fa-plane payment-icon-big text-warning">KARACHI</i>
            <h2>
               Flights # 08
            </h2>
            <div class="row">
               <div class="col-sm-6">
                  <small>
                     <strong>Expiry date:</strong> 10/16
                  </small>
               </div>
               <div class="col-sm-6 text-right">
                  <small>
                     <strong>Name:</strong> Anna Smith
                  </small>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-4">
         <div class="payment-card">
            <i class="fa fa-plane payment-icon-big text-danger"></i>
            <h2>
               Flights # 08
            </h2>
            <div class="row">
               <div class="col-sm-6">
                  <small>
                     <strong>Expiry date:</strong> 10/16
                  </small>
               </div>
               <div class="col-sm-6 text-right">
                  <small>
                     <strong>Name:</strong> Morgan Stanch
                  </small>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>