<div class="row wrapper border-bottom white-bg page-heading mt-2 m-2">
    <div class="col-lg-8">
        <br>
        <div class="form-group  row"><label class="col-sm-3 col-form-label"><b>Enter AWB Number</b></label>
            <div class="col-sm-5"><input type="text" class="form-control" [(ngModel)]="AWBNo"
                    (keyup.enter)="getAWBDetail()" [igxMask]="'000-0000-0000'">
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="title-action">
            <button type="button" class="btn btn-w-m btn-success color" (click)="getAWBDetail()">Search</button>
        </div>
    </div>
</div>
<form [formGroup]="AWBForm" role="form">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="ibox-content p-xl">
            <div class="row">
                <div class="col-sm">
                    <div class="form-group  row"><label class="col-sm-5 col-form-label"><b>AWB Number</b></label>
                        <div class="col-sm-7"><input type="text" class="form-control" formControlName="AWBNo" disabled>
                        </div>
                    </div>
                    <div class="form-group  row"><label class="col-sm-5 col-form-label"><b>Acceptance ID</b></label>
                        <div class="col-sm-7"><input type="text" class="form-control" formControlName="acceptanceID"
                                disabled>
                        </div>
                    </div>

                    <div class="form-group  row"><label class="col-sm-5 col-form-label"><b>Flight No.</b></label>
                        <div class="col-sm-7"><input type="text" class="form-control" formControlName="flightNo"
                                disabled>
                        </div>
                    </div>
                    <div class="form-group  row"><label class="col-sm-5 col-form-label"><b>Aircrapft Reg No.</b></label>
                        <div class="col-sm-7"><input type="text" class="form-control" formControlName="regNo" disabled>
                        </div>
                    </div>

                </div>
                <div class="col-sm">
                    <div class="form-group  row"><label class="col-sm-5 col-form-label"><b>Departure Date.</b></label>
                        <div class="col-sm-7"><input type="text" class="form-control" formControlName="depDate"
                                disabled>
                        </div>
                    </div>
                    <div class="form-group  row"><label class="col-sm-5 col-form-label"><b>Departure Time.</b></label>
                        <div class="col-sm-7"><input type="text" class="form-control" formControlName="depTime"
                                disabled>
                        </div>
                    </div>
                    <div class="form-group  row"><label class="col-sm-5 col-form-label"><b>Destination</b></label>
                        <div class="col-sm-7"><input type="text" class="form-control" formControlName="Destination"
                                disabled>
                        </div>
                    </div>
                    <div class="form-group  row"><label class="col-sm-5 col-form-label"><b>No. of Pieces.</b></label>
                        <div class="col-sm-7"><input type="text" class="form-control" formControlName="Pieces" disabled>
                        </div>
                    </div>

                </div>
                <div class="col-sm">
                    <div class="form-group  row"><label class="col-sm-5 col-form-label"><b>Gross Weight.</b></label>
                        <div class="col-sm-7"><input type="text" class="form-control" formControlName="grossWeight"
                                disabled>
                        </div>
                    </div>
                    <div class="form-group  row"><label class="col-sm-5 col-form-label"><b>Commodity</b></label>
                        <div class="col-sm-7"><input type="text" class="form-control" formControlName="comm_description"
                                disabled>
                        </div>
                    </div>
                    <div class="form-group  row"><label class="col-sm-5 col-form-label"><b>Nature of Goods</b></label>
                        <div class="col-sm-7"><input type="text" class="form-control" formControlName="Nature" disabled>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>
<form [formGroup]="scanningForm" role="form">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="ibox-content p-xl">
            <div class="row">
                <div class="col-sm">
                    <div class="form-group  row "><label class="col-sm-5 col-form-label "><b>Select Security
                            Person</b></label>
                        <div class="col-sm-7">
                            <input type="text" formControlName="securityPersonalID" class="form-control"
                                (blur)="getSecurityPerson()">
                        </div>
                    </div>
                    <div class="form-group  row"><label class="col-sm-5 col-form-label"><b>Employee
                            Name</b></label>
                        <div class="col-sm-7">
                            <input type="text" formControlName="spName" class="form-control m-0" disabled>
                        </div>
                    </div>
                    <div class="form-group  row "><label class="col-sm-5 col-form-label"><b>Select Scanning
                            Person</b></label>
                        <div class="col-sm-7"><input type="text" class="form-control mt-2"
                                formControlName="scaningPersonalID" (blur)="getScanningPerson()">
                        </div>
                    </div>
                    <div class="form-group  row"><label class="col-sm-5 col-form-label"
                            (blur)="getScanningPerson()"><b>Name</b></label>
                        <div class="col-sm-7"><input type="text" class="form-control" formControlName="scanPName"
                                disabled>
                        </div>
                    </div>

                </div>
                <div class="col-sm">
                    <div class="form-group  row"><label class="col-sm-5 col-form-label"><b>Scanning Type</b></label>
                        <div class="col-sm-7"><select class="form-control" formControlName="scanningType">
                                <option>Single</option>
                                <option>Duel</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group  row"><label class="col-sm-5 col-form-label"><b>Scanned Status</b></label>
                        <div class="col-sm-7"><select class="form-control" formControlName="scannedStatus">
                                <option>Open</option>
                                <option>Close</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group  row"><label class="col-sm-5 col-form-label"><b>Scanning Time</b> </label>
                        <div class="col-sm-7">
                            <timepicker [showSpinners]="false" formControlName="scanningTime"></timepicker>
                        </div>
                    </div>
                    <div class="form-group  row"><label class="col-sm-5 col-form-label"><b>Scanning Date</b></label>
                        <div class="col-sm-7">
                            <input type="date" class="form-control" fromControlName="scanningDate" >
                            <!-- <igx-date-picker formControlName="scanningDate">
                            </igx-date-picker> -->
                        </div>
                    </div>
                    <div class="form-group  row"><label class="col-sm-5 col-form-label"><b>Occurance Detail</b></label>
                        <div class="col-sm-7"><input type="text" class="form-control"
                                formControlName="occurranceDetail">
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-check row">
                        <input class="form-check-input check ml-2" formControlName="occurance" type="checkbox" value=""
                            id="occurance" checked>
                        <label class="form-check-label ml-5" for="occurance">
                           <b> Occurance</b>
                        </label>
                    </div>
                    <div class="form-check row mt-3">
                        <input class="form-check-input check ml-2 " formControlName="frustratedShipment" type="checkbox" value=""
                            id="frustratedShipment" checked>
                        <label class="form-check-label ml-5" for="frustratedShipment">
                            <b>Frustrated Shipments</b>
                        </label>
                    </div>
                    <div class="form-check row mt-3">
                        <input class="form-check-input check ml-2" formControlName="oversizeShipments" type="checkbox" value=""
                            id="oversizeShipments" checked>
                        <label class="form-check-label ml-5" for="oversizeShipments">
                           <b> Over Size Shipment</b>
                        </label>
                    </div>
                    <div class="form-check row mt-3">
                        <input class="form-check-input check ml-2" formControlName="physicallyChecked" type="checkbox" value=""
                            id="physicallyChecked" checked>
                        <label class="form-check-label ml-5" for="physicallyChecked">
                           <b> Physically Checked</b>
                        </label>
                    </div>
                    <div class="form-check row mt-3">
                        <input class="form-check-input check ml-2" formControlName="ETD" type="checkbox" value="" id="ETD" checked>
                        <label class="form-check-label ml-5" for="ETD">
                            <b>ETD</b>
                        </label>
                    </div>
                    <div class="form-check row mt-3">
                        <input class="form-check-input check ml-2" formControlName="EDD" type="checkbox" value="" id="EDD" checked>
                        <label class="form-check-label ml-5" for="EDD">
                           <b> EDD</b>
                        </label>
                    </div>
                   
                </div>
               
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group row">
                        <label class="col-lg-1 col-form-label"><b>Remakrs</b></label>
                        <div class="col-lg-11">
                            <textarea class="form-control" formControlName="remarks" id="exampleFormControlTextarea1"
                                rows="2"></textarea>
                        </div>
                    </div>
                    <div class="form-check pr-2 row">
                        <button class="btn btn-success color text-white float-right btn-sm m-1" (click)="SaveDetail()"> <i class="fa fa-edit"
                                aria-hidden="true"></i>Save Changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="float-right">
           All Right <strong>Reserved</strong>.
        </div>
        <div>
            <strong>Copyright</strong> Menzies RAS &copy; 2021
        </div>
    </div>
</form>