<div class="row wrapper border-bottom white-bg page-heading mt-2 m-2">
    <div class="col-lg-8">
        <h2>Commodity Setup</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a routerLink="/Dashboard">Home</a>
            </li>
            <li class="breadcrumb-item">
                Admin
            </li>
            <li class="breadcrumb-item active">
                <strong>Commodity</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-4">
        <div class="title-action">
            <a *ngIf="GV.canAddEdit_Commodity" [hidden]="!showeditButton" (click)="saveAgentTypes()" class="btn btn-success color text-white"><i
                    class="fa fa-pencil"></i> Update </a>
            <a *ngIf="GV.canAddEdit_Commodity" [hidden]="!showSaveButton" (click)="saveAgentTypes()" class="btn btn-success color text-white"><i
                    class="fa fa-check "></i>
                Save </a>
            <a *ngIf="GV.canAddEdit_Commodity" [hidden]="!showCancelButton" (click)="showhide('Cancel')" class="btn btn-secondary text-white ml-3"><i
                    class="fa fa-check "></i> Cancel </a>
            <a *ngIf="GV.canAddEdit_Commodity" [hidden]="!shownewButton" (click)="showhide('New')" class="btn btn-success color text-white"><i
                    class="fa fa-paste"></i>
                Add new UDM Master </a>
        </div>
    </div>
</div>
<form [formGroup]="commodityFrom" role="form">
    <div class="row" [hidden]="!addnewCommodity">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="ibox-content p-xl">
                    <div class="row">
                        <div class="col-lg-2 col-md-3 col-sm-3">
                            <div class="form-group mt-2">
                                <label class="font-normal"><b>Code</b><span class="imp">*</span></label>
                                <input disabled type="text" placeholder="Auto Generated" class="form-control" formControlName="comid">
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5">
                            <div class="form-group mt-2">
                                <label class="font-normal"><b>Description</b><span class="imp">*</span></label>
                                <input type="text" placeholder="Enter Description" formControlName="comm_description"
                                    class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5">
                            <div class="form-group mt-2">
                                <label class="font-normal"><b>Handling Codes</b><span class="imp">*</span></label>
                                <input type="text" placeholder="Enter Handling Codes" formControlName="handlingCodes"
                                    class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div>
    <div class="row" [hidden]="!showCommodity">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="ibox-content">

                    <div class="table-responsive">
                        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                            class="table table-hover table-striped dt-responsive table-bordered" cellspacing="0"
                            width="100%">
                            <thead>
                                <tr>
                                    <th>Sr.</th>
                                    <th>Description</th>
                                    <th>Handling codes</th>
                                    <th colspan="2">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let p of responseCommodity let ndx=index;" (click)="selectCommodity(p.comid)">
                                    <td>{{ndx+1}}</td>
                                    <td><a>{{p.comm_description }}</a></td>
                                    <td><a>{{p.handlingCodes }}</a></td>
                                    <td>
                                        <button *ngIf="GV.canAddEdit_Commodity" class="btn btn-success color text-white btn-sm m-1 " (click)="editCommodity(p,ndx)"> <i class="fa fa-edit" aria-hidden="true"></i>Edit</button>
                                    </td>
                                    <td>
                                        <button *ngIf="GV.canAddEdit_Commodity" class="btn btn-info text-white color btn-sm m-1 " (click)="closeDialog(p)"> <i class="fa fa-check-circle" aria-hidden="true"></i>Select</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="float-right">
       All Right <strong>Reserved</strong>.
    </div>
    <div>
        <strong>Copyright</strong> Menzies RAS &copy; 2021
    </div>
</div>
</form>

    