<div class="row wrapper border-bottom white-bg page-heading mt-2 m-2">
    <div class="col-lg-8">
        <h2>Flights</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a routerLink="/Dashboard">Home</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Flights</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-4">
        <div class="title-action">
            <a *ngIf="GV.canAddEdit_Flights" [hidden]="!showeditButton" (click)="saveFlights()" class="btn btn-success color text-white"><i
                    class="fa fa-pencil"></i> Update </a>
            <a *ngIf="GV.canAddEdit_Flights" [hidden]="!showSaveButton" (click)="saveFlights()" class="btn btn-success color text-white"><i
                    class="fa fa-check "></i>
                Save </a>
            <a *ngIf="GV.canAddEdit_Flights" [hidden]="!showCancelButton" (click)="showhide('Cancel')"
                class="btn btn-secondary text-white ml-3"><i class="fa fa-check "></i> Cancel </a>
            <a *ngIf="GV.canAddEdit_Flights" [hidden]="!shownewButton" (click)="showhide('New')"
                class="btn btn-success color text-white"><i class="fa fa-paste"></i>
                Add new agent </a>
        </div>
    </div>
</div>
<form [formGroup]="flightForm" role="form" class="bg-white m-2 mt-3">
    <div class="row" [hidden]="!addnewFlight">
        <div class="col-lg-12">
            <br>
            <br>
            <div class="row">
                <div class="col-sm">
                    <div class="form-group  row p-2"><label class="col-sm-4 col-form-label"><b>Select AirLine</b></label>
                        <div class="col-sm-8">
                            <select class="form-control" formControlName="ALCode">
                                <option *ngFor="let p of responseAirLines" [value]="p.ALCode">
                                    {{p.ALCode}}|{{p.ALName}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group  row p-2"><label class="col-sm-4 col-form-label"><b>Flight No.</b></label>
                        <div class="col-sm-8">
                            <input type="text" formControlName="flightNo" class="form-control">
                        </div>
                    </div>
                    <div class="form-group  row p-2"><label class="col-sm-4 col-form-label"><b>Enter Aircraft No.</b></label>
                        <div class="col-sm-8">
                            <input type="text" formControlName="regNo" class="form-control">
                        </div>
                    </div>
                    <div class="form-group  row p-2"><label class="col-sm-4 col-form-label"><b>Destination.</b></label>
                        <div class="col-sm-8">
                            <input type="text" formControlName="Destination" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-group  row p-2"><label class="col-sm-4 col-form-label"><b>Departure Date</b></label>
                        <div class="col-sm-8">
                            <input type="date" class="form-control" formControlName="depDate">
                            <!-- <igx-date-picker formControlName="depDate">
                            </igx-date-picker> -->
                        </div>
                    </div>
                    <div class="form-group  row p-2"><label class="col-sm-4 col-form-label"><b>Departure Time</b></label>
                        <div class="col-md-8">
                            <input type="time" class="form-control" formControlName="depTime" >
                            <!-- <timepicker [showSpinners]="false" formControlName="depTime"></timepicker> -->
                            <!-- <igx-time-picker #timePicker [spinLoop]='false' formControlName="depTime">
                            </igx-time-picker> -->
                        </div>
                    </div>
                    <div class="form-group  row p-2"><label class="col-sm-4 col-form-label"><b>Departured ?</b> </label>
                        <div class="col-sm-8">
                            <input type="checkbox" class="i-checks check" formControlName="isDepartured"> 
                            <!-- <igx-checkbox [checked]="false" formControlName="isDepartured">
                            </igx-checkbox> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="row" [hidden]="!showFlights">
            <div class="col-lg-12">
                <div class="wrapper wrapper-content animated fadeInRight">
                    <div class="ibox-content">
                        <div class="table-responsive">
                            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                                class="table table-hover table-striped dt-responsive table-bordered" cellspacing="0"
                                width="100%">
                                <thead>
                                    <tr>
                                        <th>Sr.</th>
                                        <th>AirLine</th>
                                        <th>Flight No.</th>
                                        <th>Departure Date</th>
                                        <th>Departure Time</th>
                                        <th>Destination</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let p of responseFlight let ndx=index;">
                                        <td>{{ndx+1}}</td>
                                        <td><a>{{p.ALName }}</a></td>
                                        <td>{{p.flightNo}}</td>
                                        <td>{{p.depDate}}</td>
                                        <td>{{p.depTime}}</td>
                                        <td>{{p.Destination}}</td>
                                        <td>
                                            <button *ngIf="GV.canAddEdit_Flights" class="btn btn-success color text-white btn-sm m-1"
                                                (click)="editAirLines(p,ndx)"> <i class="fa fa-edit"
                                                    aria-hidden="true"></i>Edit</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="float-right">
           All Right <strong>Reserved</strong>.
        </div>
        <div>
            <strong>Copyright</strong> Menzies RAS &copy; 2021
        </div>
    </div>
</form>