<div class="row"> 
    <div class="col-md-10 col-lg-10 col-sm-12">
        <div class="panel panel-success">
            <div class="panel-heading">
                Enter criteria
            </div>
            <div class="ibox-content">
                <form [formGroup]="DashBoardCWForm" role="form">
                    <div class="row">
                        <div class="col-lg-4 col-md-3 col-sm-12">
                            <div class="form-group mt-2">
                                <label class="font-normal">Locations<span class="imp">*</span></label>
                                <ng-multiselect-dropdown [placeholder]="'Select Location'" [data]="dropdownList" [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="selectedItems" [settings]="dropdownSettings"
                                    (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)"
                                    (onDeSelect)="ondeSelect($event)"
                                    (onDeSelectAll)="deSelectAll($event)">
                                </ng-multiselect-dropdown>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-12">
                            <div class="form-group mt-2">
                                <label class="font-normal">Report Type<span class="imp">*</span></label>
                                <select class="form-control" (change)="changeReportType($event)"
                                    formControlName="reportType">
                                    <option value="" disabled>Choose Type</option>
                                    <option value="FY">Financial Year</option>
                                    <option value="CY">Calendar Year</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-12">
                            <div class="form-group mt-2">
                                <label class="font-normal">Financial Year <span class="imp">*</span></label>
                                <select class="form-control" (change)="changeDataType($event)" formControlName="finYear" >
                                    formControlName="finYear">
                                    <option *ngFor="let lev of  finYearModel" [ngValue]="lev.yearid">{{lev.finYer}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-3 col-sm-12">
                            <div class="form-group mt-2">
                                <label class="font-normal">Cargo Class<span class="imp">*</span></label>
                                <select class="form-control" (change)="changeDataType($event)" formControlName="classType" >
                                    <option *ngFor="let lev of  cargoClasses" [ngValue]="lev.CName">{{lev.CName}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-12">
                            <div class="form-group mt-2">
                                <label class="font-normal">Date From<span class="imp">*</span></label>
                                <div class="input-group date">
                                    <ejs-datepicker format='dd-MMMM-yyyy' #ejDatePicker id="disable"
                                        (change)="dateChangeEvent($event,'FromDate')" formControlName="dateFrom"
                                        placeholder='Enter date' #ejDatePickers></ejs-datepicker>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-12">
                            <div class="form-group mt-2">
                                <label class="font-normal">Date To <span class="imp">*</span></label>
                                <div class="input-group date">
                                    <ejs-datepicker format='dd-MMMM-yyyy' #ejDatePickerTo id="disable"
                                        (change)="dateChangeEvent($event,'ToDate')" formControlName="dateTo"
                                        placeholder='Enter date' #ejDatePickerTo></ejs-datepicker>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-12">
                            <div class="form-group mt-2">
                                <label class="font-normal">Select Graph Type<span class="imp">*</span></label>
                                <select class="form-control" (change)="changeGrapth($event)">
                                    <option value="" disabled>Choose Graph</option>
                                    <option value="bh">Bar Chart</option>
                                    <option value="lh">Line Chart</option>
                                    <option value="pi">pie</option>
                    
                                </select>
                            </div>
                        </div>
                        <div class="form-group mt-2">
                            <br>
                            <button type="submit" class="btn btn-primary btn-block font-weight-bold" (click)="getData()">
                                GetData
                            </button>
                        </div>
                    </div>
                    <div class="row">
    
                    </div>
                </form>
            </div>
            
        </div>
        
        <div class="row">
            <div class="col-lg-12" [hidden]="!showBarChart">
                <div class="ibox ">
                    <div class="ibox-content">
                        <div>
                            <canvas  [hidden]="!showBarChart" baseChart [datasets]="barChartDataNaturewise" [labels]="barChartLabelsNaturewise"
                                [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend"
                                [chartType]="barChartType">
                            </canvas>
                            <canvas [hidden]="!showpieChart" baseChart [datasets]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
                                [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend">
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="col-lg-5" [hidden]="!showBarChart">
                <div class="card mt-2">
                    <div class="card-body" style="padding: 12px;">
                        <div class="widget p-xxs text-center casual-leave-color">
                            <div class="m-b-sm">
                                <h1 class="m-xs">Grand Total</h1>
                                <h3 class="font-bold no-margins">
                                    {{grandTotal| currency:'PKR ':true:'2.2-4'}}
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
   
    <div class="col-md-2 col-lg-2 col-sm-12">
        <div class="card mt-2">
            <div class="card-body" style="padding: 12px;">
                <div class="widget p-xxs text-center casual-leave-color"
                 *ngFor="let p of responseModel.locationStatus;index as i"
                 [ngClass]="{'Working' : p.locStatus=='Working', 'NotWorking':p.locStatus=='Down'}"
                  >
                    <div class="m-b-sm">
                        
                        <h2 class="m-xs">{{p.locationName}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

