<div class="row wrapper border-bottom white-bg page-heading mt-2 m-2">
    <div class="col-lg-8">
        <h2>Nature of Goods Setup</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a routerLink="/Dashboard">Home</a>
            </li>
            <li class="breadcrumb-item">
                Admin
            </li>
            <li class="breadcrumb-item active">
                <strong>Nature of Goods</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-4">
        <div class="title-action">
            <a *ngIf="GV.canAddEdit_Goods" [hidden]="!showeditButton" (click)="saveGoods()" class="btn btn-success color text-white"><i
                    class="fa fa-pencil"></i> Update </a>
            <a *ngIf="GV.canAddEdit_Goods" [hidden]="!showSaveButton" (click)="saveGoods()" class="btn btn-success color text-white"><i
                    class="fa fa-check "></i>
                Save </a>
            <a *ngIf="GV.canAddEdit_Goods" [hidden]="!showCancelButton" (click)="showhide('Cancel')" class="btn btn-secondary  text-white ml-3"><i
                    class="fa fa-check "></i> Cancel </a>
            <a *ngIf="GV.canAddEdit_Goods" [hidden]="!shownewButton" (click)="showhide('New')" class="btn btn-success color text-white"><i
                    class="fa fa-paste"></i>
                Add new nature of goods </a>
        </div>
    </div>
</div>
<form [formGroup]="goodsForm" role="form">
    <div class="row" [hidden]="!addnewGoods">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="ibox-content p-xl">
                    <div class="row">
                        <div class="col-lg-2 col-md-3 col-sm-3">
                            <div class="form-group mt-2">
                                <label class="font-normal"><b>Code</b><span class="imp">*</span></label>
                                <input disabled type="text" placeholder="Auto Generated" class="form-control" formControlName="goodsId">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="form-group mt-2">
                                <label class="font-normal"><b>Nature of Goods</b><span class="imp">*</span></label>
                                <input type="text" placeholder="Enter Description" formControlName="Nature"
                                    class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <div class="form-group mt-2">
                                <label class="font-normal"><b>Cut of Time</b><span class="imp">*</span></label>
                                <input type="text" placeholder="Enter Handling Codes" formControlName="cutTime"
                                    class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="form-group mt-2">
                                <label class="font-normal"><b>Destination</b><span class="imp">*</span></label>
                                <select class="form-control" formControlName="destination">
                                    <option value="Europe">Europe</option>
                                    <option value="Rest of World">Rest of World</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div>
    <div class="row" [hidden]="!showGoods">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="ibox-content">

                    <div class="table-responsive">
                        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                            class="table table-hover table-striped dt-responsive table-bordered" cellspacing="0"
                            width="100%">
                            <thead>
                                <tr>
                                    <th>Sr.</th>
                                    <th>Nature</th>
                                    <th>Destination</th>
                                    <th>Cut of Time</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let p of responseGoods let ndx=index;" (click)="selectNature(p.goodsId)">
                                    <td>{{ndx+1}}</td>
                                    <td><a>{{p.Nature }}</a></td>
                                    <td><a>{{p.destination }}</a></td>
                                    <td><a>{{p.cutTime }}</a></td>
                                    <td>
                                        <button *ngIf="GV.canAddEdit_Goods" class="btn btn-success color text-white btn-sm m-1" (click)="editGoods(p,ndx)"> <i class="fa fa-edit" aria-hidden="true"></i>Edit</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="float-right">
       All Right <strong>Reserved</strong>.
    </div>
    <div>
        <strong>Copyright</strong> Menzies RAS &copy; 2021
    </div>
</div>
</form>

    