<!-- <nav class="navbar navbar-static-top nav bg-white heighttopbar" role="navigation" style="margin-bottom: 0;">
        <div class="navbar-header " (click)="toggleSidebar()">
            <a class="navbar-minimalize minimalize-styl-2  " href="javascript:void(0);"><i class="fa fa-bars"></i> </a>
        </div>
     <ul class="nav navbar-top-links marginnav "> -->
        <!-- <li class="text-white hidden ml-3"></li>
        <li class="text-white hidden ml-3">/li>
        <li class="text-white hidden ml-3">/li>
        <li class="text-white hidden ml-3">/li>
        <li class="text-white hidden ml-3">/li>
        <li class="text-white hidden ml-3">/li>
        <li class="text-white hidden ml-3">/li>
        <li class="text-white hidden ml-3">/li>
        <li class="text-white hidden ml-3">/li>
        <li class="text-white hidden ml-3">/li>
        <li class="text-white hidden ml-3">/li>
        <li class="text-white hidden ml-3">/li>
        <li class="text-white hidden ml-3">/li>
        <li class="text-white hidden ml-3">/li>
        <li class="text-white hidden ml-3">/li>
        <li class="text-white hidden ml-3">/li>
        <li class="text-white hidden ml-3">/li>
        <li class="text-white hidden ml-3">/li>
        <li class="text-white hidden ml-3">/li>
        <li class="text-white hidden ml-3">/li>
        <li class="text-white hidden ml-3">/li>
        <li class="text-white hidden ml-3">/li>
        <li class="text-white hidden ml-3">/li>
        <li class="text-white hidden ml-3">/li>
        <li class="text-white hidden ml-4">/li>
        <li class="text-white hidden ml-4">/li>
        <li class="text-white hidden ml-5">/li> -->
      
     

     <!-- <li class="dropdown">
        <a class="dropdown-toggle count-info  "  id="logout" data-toggle="dropdown" href="javascript:void(0);">
            <i class="fa fa-user-circle-o "></i>
            <i class="fa fa-angle-down "></i>
        </a>
        <ul class="dropdown-menu dropdown-alerts " style="padding: 0; width: 120px;"> -->
            <!-- <li>
                <a href="javascript:void(0);" class="dropdown-item" style="padding:8px 4px;">
                    <!-- <div>
                       <a routerLink="/resetpassword"> <i class="fa fa-key fa-fw"></i> Change Password</a>
                    </div>
                </a>
            </li> -->
            <!-- <li class="dropdown-divider"></li>
            <li>
                <a href="javascript:void(0);" class="dropdown-item" style="padding:8px 4px;">
                    <div>
                        <a routerLink="/Management/AssignRoles"> <i class="fa fa-user fa-fw"></i> Update Profile </a>
                    </div>
                </a>
            </li> -->
           
            <!-- <li>
                <a href="javascript:void(0);" (click)="onClickLogout()" class="dropdown-item" style="padding:8px 4px;">
                    <div>
                        <a  href="javascript:void(0);"> <i class="fa fa-sign-out fa-fw "></i> Log out </a>
                    </div>
                </a>
            </li>
        </ul>
    </li>
    
  </ul>
</nav> -->


<nav class="navbar navbar-expand-lg navbar-light bg-light widthnav">
  
  <div class="navbar-header " (click)="toggleSidebar()">
            <a class="navbar-minimalize minimalize-styl-2  " href="javascript:void(0);"><i class="fa fa-bars"></i> </a>
        </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
 
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
     
    </ul>
    <form class="form-inline my-3 marginnav ">
      <a class="dropdown count-info   "  id="logout" data-toggle="dropdown" href="javascript:void(0);">
            <i class="fa fa-user-circle-o  "></i>
            <i class="fa fa-angle-down "></i>
        </a>
        <div class="nav-item dropdown">
        
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" >
         <a href="javascript:void(0);" (click)="onClickLogout()" class="dropdown-item" >
            <div>
                <a  href="javascript:void(0);"> <i class="fa fa-sign-out fa-fw "></i> Log out </a>
            </div>
         </a>
        </div>
      </div>
    </form>
   
  </div>
</nav>
