.color{
    background-color:#203668;
}
.heighttopbar{
    height:61px;
    
}
@media only screen and (min-width: 1300px){
.marginnav{
        margin-left: 1014px;
}
}

#logout{
    color:#203668;
}
@media only screen and (max-width: 360px)
{
.marginnav{
        margin-left: 100px;
}
}
.widthnav{
    width:100%
}