<div class="row"> 
    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="panel panel-success">
            <div class="panel-heading">
                Enter criteria
            </div>
            <div class="ibox-content">
                <form [formGroup]="hourlyFrom" role="form">
                    <div class="row">
                        <div class="col-lg-4 col-md-3 col-sm-12">
                            <div class="form-group mt-2">
                                <label class="font-normal">Locations<span class="imp">*</span></label>
                                <ng-multiselect-dropdown [placeholder]="'Select Location'" [data]="dropdownList" [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="selectedItems" [settings]="dropdownSettings"
                                    (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)"
                                    (onDeSelect)="ondeSelect($event)"
                                    (onDeSelectAll)="deSelectAll($event)">
                                </ng-multiselect-dropdown>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-12">
                            <div class="form-group mt-2">
                                <label class="font-normal">Date From<span class="imp">*</span></label>
                                <div class="input-group date">
                                    <ejs-datepicker [format]="dateFormat" #ejDatePicker id="disable" formControlName="dateFrom"
                                        placeholder='Enter date' #ejDatePickers></ejs-datepicker>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-12">
                            <div class="form-group mt-2">
                                <label class="font-normal">Date To <span class="imp">*</span></label>
                                <div class="input-group date">
                                    <ejs-datepicker [format]="dateFormat" #ejDatePickerTo id="disable" formControlName="dateTo"
                                        placeholder='Enter date' #ejDatePickerTo></ejs-datepicker>
                                </div>
                            </div>
                        </div>
                        <div class="form-group mt-2">
                            <br>
                            <button type="submit" class="btn btn-primary btn-block font-weight-bold" (click)="getData()">
                                GetData
                            </button>
                        </div>
                    </div>
                    <div class="row">
    
                    </div>
                </form>
            </div>
            
        </div>
    </div> 
</div>
<!-- <div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title" style="border: none;">
                <h5>Leave History (Year to date)</h5>
                
            </div>
            <div class="ibox-content">
                <table class="table table-striped table-hover dt-responsive display nowrap" datatable
                    [dtOptions]="dtOptions0" [dtTrigger]="dtTrigger0" style="width: 100%;">
                    <thead>
                        <tr>
                            <th>Time Slot</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let p of hourlyResponse let ndx=index;">
                            
                            <td>{{p.TimeSlot }}</td>
                            <td>{{p.Amt}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div> -->
<div class="row">
    <div class="col-lg-7">
        <div class="ibox ">
            <div class="ibox-content">
                <div>
                    <canvas  [hidden]="!showBarChart" baseChart [datasets]="barChartDataNaturewise" [labels]="barChartLabelsNaturewise" 
                        [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend"
                        [chartType]="barChartType">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-5" [hidden]="!showBarChart">
        <div class="card mt-2">
            <div class="card-body" style="padding: 12px;">
                <div class="widget p-xxs text-center casual-leave-color">
                    <div class="m-b-sm">
                        <h1 class="m-xs">Grand Total</h1>
                        <h3 class="font-bold no-margins">
                            {{grandTotal| currency:'PKR ':true:'2.2-4'}}
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>