<div class="row wrapper border-bottom white-bg page-heading mt-2 m-2">
    <div class="col-lg-8">
        <h2>Notice Type Setup</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a routerLink="/Dashboard">Home</a>
            </li>
            <li class="breadcrumb-item">
                Admin
            </li>
            <li class="breadcrumb-item active">
                <strong>Notice Type</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-4">
        <div class="title-action">
            <a *ngIf="GV.canAddEdit_Commodity" [hidden]="!showeditButton" (click)="saveNoticeType()"
                class="btn btn-success color text-white"><i class="fa fa-pencil"></i> Update </a>
            <a *ngIf="GV.canAddEdit_Commodity" [hidden]="!showSaveButton" (click)="saveNoticeType()"
                class="btn btn-success color text-white"><i class="fa fa-check "></i>
                Save </a>
            <a *ngIf="GV.canAddEdit_Commodity" [hidden]="!showCancelButton" (click)="showhide('Cancel')"
                class="btn btn-secondary text-white ml-3"><i class="fa fa-check "></i> Cancel </a>
            <a *ngIf="GV.canAddEdit_Commodity" [hidden]="!shownewButton" (click)="showhide('New')"
                class="btn btn-success color text-white"><i class="fa fa-paste"></i>
                Add new Notice Type </a>
        </div>
    </div>
</div>
<form [formGroup]="noticeForm" role="form" class="bg-white m-2 p-1 mt-3">
    <br>
    <div class="row" [hidden]="!addnewNoticeType">
        <div class="col-sm" >
            <div class="form-group  row  p-2">
                <label class="col-sm-4 col-form-label">
                   <b>Select Air Line</b> 
                </label>
                <div class="col-sm-8">
                    <select class="form-control " formControlName="ALCode">
                        <option *ngFor="let p of responseAirLines" [value]="p.ALCode">{{p.ALName}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group  row  p-2">
                <label class="col-sm-4 col-form-label">
                    <b>Select Goods Type</b>
                </label>
                <div class="col-sm-8">
                    <select class="form-control " formControlName="goodsId">
                        <option *ngFor="let p of responseGoods" [value]="p.goodsId">{{p.Nature}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group  row  p-2">
                <label class="col-sm-4 col-form-label">
                   <b> Notice Type Name</b>
                </label>
                <div class="col-sm-8">
                    <input type="text" placeholder="Notice Type" class="form-control " formControlName="noticeType">
                </div>
            </div>
            <div class="form-group  row  p-2">
                <label class="col-sm-4 col-form-label">
                   <b> Is Mandatory?</b>
                </label>
                <div class="col-sm-8 ">
                    <div class="form-check row p-2">
                        <input class="form-check-input check ml-0 " formControlName="occurance" type="checkbox" value=""
                            id="occurance" checked>
                        
                    </div>
                    <!-- <igx-checkbox [checked]="false" formControlName="mandatory" class="text-success">
                        Mandatory ?
                    </igx-checkbox> -->
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="row " [hidden]="!showNoticeTypes">
            <div class="col-lg-12">
                <div class="wrapper wrapper-content animated fadeInRight">
                    <div class="ibox-content">

                        <div class="table-responsive">
                            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                                class="table table-hover table-striped dt-responsive table-bordered" cellspacing="0"
                                width="100%">
                                <thead>
                                    <tr>
                                        <th>Sr.</th>
                                        <th>Air Line</th>
                                        <th>Notice Type</th>
                                        <th>Is Mandatory</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let p of responseNoticeTypes let ndx=index;">
                                        <td>{{ndx+1}}</td>
                                        <td><a>{{p.ALName }}</a></td>
                                        <td>{{p.noticeType}}</td>
                                        <td>{{p.mandatory}}</td>
                                        <td>
                                            <button *ngIf="GV.canAddEdit_Agents" class="btn btn-success color text-white btn-sm m-1"
                                                (click)="editNoticeTypes(p)"> <i class="fa fa-edit"
                                                    aria-hidden="true"></i>Edit</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="float-right">
           All Right <strong>Reserved</strong>.
        </div>
        <div>
            <strong>Copyright</strong> Menzies RAS &copy; 2021
        </div>
    </div>

</form>