<div class="ibox-content">

    <div class="table-responsive">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover table-striped dt-responsive table-bordered" cellspacing="0"
        width="100%">
        <thead>
            <tr>
                <th>Sr.</th>
                <th>Invoice Number</th>
                <th>No. of Persons</th>
                <th>VALUE</th>
                <th>Discount Amount</th>
                <th>Sale Tax</th>
                <th>Bal Amount</th>
                <th>Table Number</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of singleDateResponse let ndx=index;">
                <td>{{ndx+1}}</td>
                <td><a>{{p.invoiceno }}</a></td>
                <td>{{p.Persons}}</td>
                <td>{{p.VALUE}}</td>
                <td>{{p.DisAmount}}</td>
                <td>{{p.saleTax}}</td>
                <td>{{p.BalAmount}}</td>
                <td>{{p.TableNo}}</td>
            </tr>
        </tbody>
    </table>
    </div>

</div>