<div id="wrapper">
    <div class="loader_div" *ngIf="Gvars.G_IsRunning">
        <div class="loader">
        </div>
    </div>
    <app-leftmenu></app-leftmenu>
    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
        <app-topbar></app-topbar>
    </div>
        <router-outlet></router-outlet>
    </div>
   
</div>
